{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/manager_operate.css' %}?after">
  <title>예약TEST</title>
  
</head>
<body>
  <div id="wrap">
    <div class="box1">
      <div class="content1">
        {% if request.user.is_authenticated %}
          <span class="cont">
            <div class="buttons">
              <button class="up-bt">수정</button>
              <button class="del-bt">삭제</button>
            </div>
            <div class="section1">
              <div id="store">
                <form action="{% url 'mng_update' pk=manager.pk store_id=store.pk %}" method="get">
                  <div class="store_item1">
                    <label for="search_kw">예약일 예시&#41; 2024-01-01 / 2024-01 / 2024</label>
                    <input type="text" id="search_kw" name="kw" value="{{ kw|default_if_none:'' }}" placeholder="이름, 전화번호, 예약일"></input>
                    <button type="submit" id="btn_search">검색</button>
                  </div>
                </form>
                <div class="store_item2">
                  <div class="head-user">
                    <p>이름</p>
                    <p>전화번호</p>
                    <p>예약일</p>
                    <p>예약 시간</p>
                  </div>
                  <hr>
                  {% for rsv in page_obj %}
                  <div class="user-info">
                      <p>이름: {{ rsv.user_name }}</p>
                      <p>전화번호: {{ rsv.user_phone }}</p>
                      <p>예약일: {{ rsv.reservation_date }}</p>
                      <p>예약 시간: {{ rsv.user_time }}</p>
                  </div>
                  <hr>
                  {% endfor %}
                </div>
                <!-- 페이지네이션 -->
                <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                        <a href="?page=1&kw={{ kw|default_if_none:'' }}">&laquo; 처음</a>
                        <a href="?page={{ page_obj.previous_page_number }}&kw={{ kw|default_if_none:'' }}">이전</a>
                      {% else %}
                        <span class="disabled">&laquo; 처음</span>
                        <span class="disabled">이전</span>
                      {% endif %}
              
                      {% for num in page_obj.paginator.page_range %}
                          {% if page_obj.number == num %}
                            <a href="?page={{ num }}&kw={{ kw|default_if_none:'' }}" class="active">{{ num }}</a>
                          {% else %}
                            <a href="?page={{ num }}&kw={{ kw|default_if_none:'' }}">{{ num }}</a>
                          {% endif %}
                      {% endfor %}
              
                      {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&kw={{ kw|default_if_none:'' }}">다음</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&kw={{ kw|default_if_none:'' }}">마지막 &raquo;</a>
                      {% else %}
                        <span class="disabled">다음</span>
                        <span class="disabled">마지막 &raquo;</span>
                      {% endif %}
                  </span>
                </div>
                <!-- 페이지네이션 끝 -->
                <div class="store_item3"></div>

              </div>
              <div class="store_test"></div>
            </div>
            {% else %}
            <div class="container">
              <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                  <text text-anchor="middle" x="50%" y="80%">로그인필요</text>
                </symbol>

                <g class="g-ants">
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                </g>
              </svg>
            </div>
          </span>
        {% endif %}
      </div>
    </div>

    <div class="box2">
      <div class="content2">
        {% if request.user.is_authenticated %}
        <div class="con2_nav">
          <button class="nav_button1" type="button">
            <img src="{% static 'manager/img/right-arrow (1).png' %}" alt="접기">
          </button>

          <a href="/manager/logout">
            <button class="nav_button2" type="button">
              <img src="{% static 'manager/img/turn-off (1).png' %}" alt="로그아웃">
            </button>
          </a>
        </div>
        <div class="con2_manager1">
          <img class="profile_img" src="{% static 'manager/img/user.png' %}" alt="이미지">
          <span>{{ request.user.username }}</span>
        </div>
        <a href="/manager/logout">
          <button class="logout_test" type="button">로그아웃</button>
        </a>


        {% else %}
        <!-- <img class="profile_img" src="../../static/manager/img/user.png" alt="이미지"> -->
        <a href="/manager/login">
          <button class="login_test" type="button">로그인</button>
        </a>
        <a href="/manager/signup">
          <button class="signup_test" type="button">회원가입</button>
        </a>
        {% endif %}
      </div>
    </div>

  </div>


</body>

</html>