{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/manager_write.css' %}?after">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
  <title>타임테이블 추가</title>
  
</head>

<body>
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div id="wrap">
      <div class="box1">
        <div class="content1">
          <div class="navi-wrap">
            <div class="home">
              <a href="{% url 'index' %}"><span class="material-symbols-outlined">home</span></a>
              <a href="{% url 'write' %}"><span class="material-symbols-outlined">add_business</span></a>
              <!-- url 끝에 0 : js 쿼리파라미터 치환용 임의숫자 -->
              <a href="{% url 'update3' 0 %}" id="click1"><span class="material-symbols-outlined">more_time</span></a>
              <a href="{% url 'store_detail' 0 %}" id="click2"><span class="material-symbols-outlined">lists</span></a>
              <a href="{% url 'admin_chat2' %}" id="click3"><span class="material-symbols-outlined">forum</span></a>
            </div>
          </div>
          <div class="section1">
            <div class="sidebar">
              <div class="sub">
                <div>매장명을 입력하세요.</div>
                <div>'찾기'를 눌러 우편번호를 검색하세요.</div>
                <div>입력된 주소를 확인하세요.</div>
                <div>상세주소를 입력하세요.</div>
              </div>
              <div class="absol">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
              </div>
            </div>
            <div class="input-boxs">
              <form action="" method="post">{% csrf_token %}
                <div class="title">매장 등록</div>
                <div class="address_inputs">
                  <!-- <label for="store_name">업체명</label> -->
                  <input type="text" name="store_name" id="store_name" placeholder="매장명" required>
                  <div class="address_num">
                    <input type="text" onclick="sample6_execDaumPostcode()" id="sample6_postcode" placeholder="우편번호" name="sample6_postcode" required>
                    <input type="button" class="ad_text" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" id="search">
                    <span class="search_icon" style="display: none;">search</span>
                  </div>
                  <input type="text" onclick="sample6_execDaumPostcode()"  id="sample6_address" placeholder="주소" name="sample6_address" required>
                  <input type="text" id="sample6_detailAddress" placeholder="상세주소" name="sample6_detailAddress" required>
                  <input type="text" onclick="sample6_execDaumPostcode()" id="sample6_extraAddress" placeholder="참고항목" name="sample6_extraAddress">
                </div>
                <button type="submit" class="confirm">추가</button>
              </form>
              <!-- <div class="side">
                
              </div> -->
            </div>
          </div>
        </div>
      </div>
      
      <!-- top/bottom tv효과 -->
      <div id="topDiv"></div>
      <div id="modal" class="hideModal">
        <div>
          <a href="#" title="X" class="modal-close">&#10006;</a>
          <div class="notice">선택한 스토어의 메뉴로 이동합니다.</div>
          <div class="stores">
          </div>
          <button id="sendInfo">이동</button>
        </div>
      </div>
      <div id="bottomDiv"></div>

      <div class="userInfo">
        <img class="profile_img" src="{% static 'manager/img/person.png' %}" alt="이미지">
        <span>{{ request.user.username }}님, 안녕하세요</span>
        <a href="/manager/logout">
          <button id="nav_button2" class="nav_button2" type="button">
            <img class="logout" src="{% static 'manager/img/modeoff.png' %}" alt="로그아웃">
            <!-- <img class="logout" src=" static 'manager/img/turn-off (1).png' " alt="로그아웃"> -->
          </button>
        </a>
      </div>

  </div>
  <!-- 카카오 우편번호 api -->
  <script src="//t1.kakaocdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <!-- include "manager/js/manager_write_js.html" 시간추가 로직 삭제-->
  {% include "manager/js/add_adress_js.html" %}
  {% include "manager/js/manager_write_js.html" %}
</body>

</html>
