{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/manager_modal.css' %}">
  <title>매니저 모달</title>
</head>
<body>
  
  <div id="open-modal" class="modal-window">
    <div class="modal-content">
      <a href="" title="Close" class="modal-close">Close</a>
      <span>예약내역</span>
      <div id="reservation-info" class="reservation-card"></div>
    </div>
  </div>
  </div>
</body>
</html>
{% include "manager/js/manager_modal_js.html" %}