{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/manager_search.css' %}?after">
  <title>예약TEST</title>
  
</head>
<body>
  <div id="wrap">
    <div class="box1">
      <div class="content1">
        {% if request.user.is_authenticated %}
          <span class="cont">
            <div class="buttons">
              <button class="up-bt">수정</button>
              <button class="del-bt">삭제</button>
            </div>
            <div class="section1">
              <div id="store">
                <form action="{% url 'search' %}" method="get">
                  <div class="store_item1">
                    <input type="text" id="search-area" name="q" placeholder="Search"></input>
                    <button type="submit">검색</button>
                  </div>
                </form>
                <div class="store_item2">
                  <div class="head-user">
                    <p>이름</p>
                    <p>전화번호</p>
                    <p>예약 날짜</p>
                    <p>예약 시간</p>
                  </div>
                  <hr>
                  {% for result in results %}
                  <div class="user-info">
                      <p>이름: {{ result.user_name }}</p>
                      <p>전화번호: {{ result.user_phone }}</p>
                      <p>예약 날짜: {{ result.reservation_date }}</p>
                      <p>예약 시간: {{ result.user_time }}</p>
                  </div>
                  <hr>
                  {% empty %}
                  <p>검색 결과가 없습니다.</p>
                  {% endfor %}
                </div>
                
                <div class="store_item3"></div>

              </div>
              <div class="store_test"></div>
            </div>
            {% else %}
            <div class="container">
              <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                  <text text-anchor="middle" x="50%" y="80%">로그인필요</text>
                </symbol>

                <g class="g-ants">
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                </g>
              </svg>
            </div>
          </span>
        {% endif %}
      </div>
    </div>

    <div class="box2">
      <div class="content2">
        {% if request.user.is_authenticated %}
        <div class="con2_nav">
          <button class="nav_button1" type="button">
            <img src="{% static 'manager/img/right-arrow (1).png' %}" alt="접기">
          </button>

          <a href="/manager/logout">
            <button class="nav_button2" type="button">
              <img src="{% static 'manager/img/turn-off (1).png' %}" alt="로그아웃">
            </button>
          </a>
        </div>
        <div class="con2_manager1">
          <img class="profile_img" src="{% static 'manager/img/user.png' %}" alt="이미지">
          <span>{{ request.user.username }}</span>
        </div>
        <a href="/manager/logout">
          <button class="logout_test" type="button">로그아웃</button>
        </a>


        {% else %}
        <!-- <img class="profile_img" src="../../static/manager/img/user.png" alt="이미지"> -->
        <a href="/manager/login">
          <button class="login_test" type="button">로그인</button>
        </a>
        <a href="/manager/signup">
          <button class="signup_test" type="button">회원가입</button>
        </a>
        {% endif %}
      </div>
    </div>

  </div>


</body>

</html>