.info i {
display: inline-block;
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
vertical-align: top;
}
.info i.icon-barrier-free {
width: 20px;
height: 20px;
background-image: url("/assets/img/sub/icon-barrier-free.png");
}
.info i.icon-electricity {
width: 20px;
height: 20px;
background-image: url("/assets/img/sub/icon-electricity.png");
}
.info i.icon-carbon {
width: 20px;
height: 20px;
background-image: url("/assets/img/sub/icon-carbon.png");
}
