{% load filters %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'reservation/css/detail.css' %}?after">
  <link rel="stylesheet" href="{% static 'reservation/css/calendar.css' %}">

  <title>예약상세페이지</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <a href="/">
    <button class="test1" type="button">홈</button>
  </a>

  <div id="wrap">
    <div class="content1">
      {% for time in sto_time %}
      <button type="button" class="time-item" data-time="{{ time.reservation_time }}">
        {{ time.reservation_time }}
      </button>
      {% endfor %}
    </div>

    <div class="content1">
      <div id="mainCalendar">
        <table class="Calendar">
          <thead>
            <tr>
              <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
              <td colspan="5">
                <span id="calYear"></span>년
                <span id="calMonth"></span>월
              </td>
              <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
            </tr>
            <tr>
              <td>일</td>
              <td>월</td>
              <td>화</td>
              <td>수</td>
              <td>목</td>
              <td>금</td>
              <td>토</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <br><br><br>
    </div>

    <div class="content1">
      <div class="user_test">
        <form action="" method="post">
          {% csrf_token %}
          <div class="test_date">
            <label for="selectedDate">날짜 : </label>
            <span id="selectedDate"></span>
            <input type="hidden" name="detail_user_date" id="detail_user_date">
          </div>
          <label for="detail_user_name">이름</label>
          <input type="text" name="detail_user_name" id="detail_user_name">
          <br>
          <label for="detail_user_phone">핸드폰</label>
          <input type="text" name="detail_user_phone" id="detail_user_phone">
          <br>
          <input type="hidden" name="detail_user_time" id="detail_user_time">
          <button type="submit">예약하기</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function setCookie(name, value, days) {
    const expires = new Date(Date.now() + days * 864e5).toUTCString();
    document.cookie = `${name}=${value}; expires=${expires}; path=/`;
  }
</script>

{% include "reservation/js/detail_js.html" %}