{% load filters %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}?after">
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
  
  <title>홈</title>
</head>

<body>
  <a href="/cal">
    <button class="test1" type="button">예약테스트</button>
  </a>

  <br><br>

  <div class="user_test">
    <form action="" method="post">
      <!-- <table> -->
        <input type="text" name="user_name" id="user_name">
        <br>
        <input type="date" name="user_date" id="user_date">
        <br>
        <input type="time" name="user_time" id="user_time">
        {% csrf_token %}
    
      <!-- </table> -->
    
      <button type="submit">예약하기</button>
    
    </form>

    <br>

  </div>
  <div id="wrap">
    <div class="content1">
      {% for obj in store_list %}
      <div class="store">
        <div class="store_name">
          {{ obj.store_name }}
        </div>
        <a href="/cal/{{ obj.id }}">
          <div class="store_time">
            <!-- <a class="select_time" href="/cal/{{obj.id}}"> -->
              {% for time in store_times_dict|get_item:obj.pk %}
                <button class="time-item" type="button" data-time="{{ time.reservation_time }}">{{ time.reservation_time }}</>
                <!-- <p class="state">예약 가능</p> -->
              {% endfor %}
            <!-- </a> -->
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <div class="content1">
      <div id="mainCalendar">
        <table class="Calendar">
          <thead>
            <tr>
              <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
              <td colspan="5">
                <span id="calYear"></span>년
                <span id="calMonth"></span>월
              </td>
              <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
            </tr>
            <tr>
              <td>일</td>
              <td>월</td>
              <td>화</td>
              <td>수</td>
              <td>목</td>
              <td>금</td>
              <td>토</td>
            </tr>
          </thead>
      
          <tbody>
          </tbody>
        </table>
      </div>
      <br><br><br>
      <div class="test_date">
        <span id="selectedDate"></span>
      </div>
    </div>
  </div>
</body>

</html>
<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function setCookie(name, value, days) {
    const expires = new Date(Date.now() + days * 864e5).toUTCString();
    document.cookie = `${name}=${value}; expires=${expires}; path=/`;
  }
</script>
{% include "reservation/js/index_js.html" %}