{% extends 'base.html' %}
{% load filters %}
{% load static %}

<!-- css -->
{% block style %}
<link rel="stylesheet" href="{% static 'reservation/css/main4.css' %}?after">
{% endblock style %}

<!-- title -->
{% block title %}List up{% endblock %}

{% block container %}
<!-- <section class="top-wrapper">
    <section class="colorpart top-section">
      <div class="content-container content-theme-dark">
        <div class="content-inner">
          <div class="content-center">
            <h1>Finest</h1>
            <p>Dual Color Text Effect by Finest Pixels</a></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="colorpart bottom-section">
      <div class="content-container content-theme-light">
        <div class="content-inner">
          <div class="content-center">
            <h1>Finest</h1>
            <p>Dual Color Text Effect by Finest Pixels</a></p>
            
          </div>
        </div>
      </div>
    </section>
  </section> -->


<!-- nav -->



<section class="md-wrapper">
  <section class="reservation">
    <div class="reserve-wrap">
      <div class="rs-head" id="pg1">
        <div class="rs-point">
          <h1 class="rs-title">예약하기</h1>
          <div class="rec"></div>
        </div>
        <div class="rs-color">
          <p> </p>
        </div>
      </div>
      <div class="rs-body">
        <div class="rs-tabs">
          <div class="tabs">
            <ul class="active">
              <li><a href="main1.html#pg1">업체리스트</a></li>
            </ul>
            <ul>
              <li><a href="main2.html#pg2">상세페이지</a></li>
            </ul>
            <ul>
              <li><a href="">업체정보</a></li>
            </ul>
            <ul>
              <li><a href="">tab</a></li>
            </ul>
            <ul>
              <li><a href="">tab</a></li>
            </ul>
            <ul>
              <li><a href="">tab</a></li>
            </ul>
          </div>
        </div>
        <div class="rs-list">
          <h1>시간표 조회</h1>
          <div class="scroll box2">
            {% for obj in store_list %}
            <div class="store-table">
              <div class="st-name">
                <div class="st-id">{{ obj.id }}</div>
                {{ obj.store_name }}
              </div>
              <div class="st-time">
                {% for time in store_times_dict|get_item:obj.pk %}
                <button class="time-item-{{ obj.id }}" type="button" data-time="{{ time.reservation_time }}">{{ time.reservation_time}}</button>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <p>STEP1. 업체를 선택하세요.</p>
            <p>STEP2. 시간을 선택하세요.</p>
            <p>STEP3. 달력의 날짜를 선택하세요.</p>
            <p>STEP4. 다음 버튼을 눌러주세요.</p>
          </div>
        </div>
        <div class="rs-date">
          <div class="name" id="selected-store">업체를 선택하세요.</div>
          <div id="mainCalendar">
            <table class="Calendar">
              <thead>
                <tr>
                  <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                  <td colspan="5">
                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                  </td>
                  <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                </tr>
                <tr>
                  <td>일</td>
                  <td>월</td>
                  <td>화</td>
                  <td>수</td>
                  <td>목</td>
                  <td>금</td>
                  <td>토</td>
                </tr>
              </thead>

              <tbody>
              </tbody>
            </table>
          </div>
          <div class="next" id="next-button" style="display: none;">
            <button type="button" class="send-bt" onclick="checkSelectedDate()">다음</button>
          </div>
        </div>
        <div class="rs-info">
          <div class="info">
            <h1>예약자 정보</h1>
            <div class="user-input">
              <form action="" method="post">{% csrf_token %}
                <span id="selected_store"></span><br>
                <input type="hidden" name="selected_store2" id="selected_store2"></input><br>
                <input type="date" name="detail_user_date" id="detail_user_date">
                <input type="time" name="detail_user_time" id="detail_user_time">
                <div>
                  <label for="selectedDate">날짜 : </label><br>
                  <span id="selectedDate"></span>
                  <span></span>
                </div>
                <div>
                  <label for="detail_user_name">이름</label><br>
                  <input type="text" name="detail_user_name" id="detail_user_name">
                  <span></span>
                </div>
                <br><br>
                <div>
                  <label for="detail_user_phone">핸드폰 번호</label><br>
                  <input type="text" name="detail_user_phone" id="detail_user_phone">
                  <span></span>
                </div>
                <br><br>
                <!-- <div>
                    <label for="u_num">인원수</label><br>
                    <input type="number" name="u_num" id="u_num">
                    <span></span>
                  </div> -->
                <button type="submit">예약하기</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- js파일 연결 -->
<script>

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function setCookie(name, value, days) {
    const expires = new Date(Date.now() + days * 864e5).toUTCString();
    document.cookie = `${name}=${value}; expires=${expires}; path=/`;
  }

</script>


{% include "reservation/js/main4_js.html" %} 
{% endblock %}