{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/admin_page/cube1/cube_1.css' %}">
  <title>CUBE-1</title>
</head>


<body>
  <div id="root">
    <div class="container">
      <div class="app">
        <section id="navigation">
          <!-- <nav class="nav"> -->
            <div class="nav-box1">
              <div class="nav1">회원목록</div>
              <div class="nav2">채팅</div>
            </div>
            
          </nav>
        </section>

        <section id="chat-list">
          <div class="chat-list-header">
            <!-- <div class="collapse-nav">
              <div class="chats">Chats</div>
              <span class="collapse-nav-items"><i class="fa-solid fa-ellipsis-vertical"></i></span>
            </div> -->
            <input type="search" placeholder="search messages or user" class="search-input" />
          </div>
          <div class="chat-box">



          </div>
        </section>



        <section id="chat-room">
          <div id="chat-msg-room">

            <div class="chat-room-header">
              <div class="box-one">
                <span class="go-back-icon"><i class="fa-sharp fa-solid fa-arrow-left-long"></i></span>
                <div class="profile-pic">
                  <img
                    src=""
                    alt="" class="contact-pic small-contact-pic" />
                </div>
                <div class="description">
                  <span class="name"></span>
                </div>
              </div>
              <div class="user-options">
                <span href="#" class="opt-one opt"><i class="fa-solid fa-video"></i></span>
                <span href="#" class="opt-two opt"><i class="fa-solid fa-phone"></i></span>
                <span class="other-opts opt"><i class="fa-solid fa-ellipsis-vertical"></i></span>
              </div>
            </div>

            <div id="messages-room">
              

            </div>

            <div class="chat-input-box">
              <input type="text" class="text-input" placeholder="Type your message..." />
              <button class="send" type="submit"><i class="fa-sharp fa-solid fa-paper-plane"></i></button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>

{% include "manager/js/admin_page/cube1/cube_1_js.html" %}