@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size:62.5%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul{
  list-style: none;
}





/* 

#wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  column-gap: 0;
}

#wrap_bottom {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.color_1 {
  width: 100%;
  height: 100%;
  background-color: #888;
}

.color_2 {
  width: 100%;
  height: 100%;
  background-color: #ddd;
} */


body {
  /* background-image: url("../img/uplecz.jpg"); */
  background-color: #888;
}

.content1 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 0;
  /* padding: 2rem; */
}
.content1 .cont_box1 {
  display: flex;
  justify-content: end;
}
.inner_div1{
  /* width: 1100px;
  height: 850px; */
  width: 100%;
  /* height: 90vh; */
  /* background-color: #7743DB; */
  /* background-color: #102C57; */
  /* background-color: #4C4C6D; */
  /* background-color: #79B4B7; */
  background-color: #99bbbc;
}
.content1 .cont_box1 .inner_div2{
  /* width: 910px;
  height: 650px; */
  /* width: 96%;
  height: 95%; */
  width: 96%;
  height: 90%;
  /* background-color: #C3ACD0; */
  /* background-color: #EADBC8; */
  background-color: #e0dede9e;
  border-radius: 0 0 0 10px ;
  padding: 0 0 1rem 1rem;
  margin: 0 0 0 2rem;

}
.content1 .cont_box1 .inner_div3{
  /* width: 900px;
  height: 640px; */
  /* width: 96%;
  height: 93%; */
  width: 100%;
  height: 95%;
  justify-content: center;
  /* padding: 2rem 0 0.2rem 1.5rem; */
  padding: 2rem 0 0 1.5rem;
  /* background-color: #F7EFE5; */
  /* background-color: #FEFAF6; */
  /* background-color: #F8F0DF; */
  /* background-color: #FEFBF3; */
  background-color: #fefbf3d9;
  border-radius: 0 0 0 10px ;
  /* display: flex;
  flex-direction: column; */
}
.cont {
  width: 100%;
}
/* .tab_menu {
  width: 4rem;
  height: 100%;
  border: 1px solid red;
}
 */

/* 오른쪽 탭 */
.content1 .cont_box2 {
  width: 100%;
}
.inner_div4{
  width: 100%;
  /* background-color: #9164e3; */
  /* background-color: #435585; */
  /* background-color: #6a6a97; */
  /* background-color: #94d9dd; */
  /* background-color: #94d9ddcc; */
  background-color: #bad3d4cc;
  /* border: 1px solid red; */
}

.content1 .cont_box2 .inner_div5{
  /* width: 90%;
  height: 95%; */
  width: 89%;
  height: 90%;
  /* background-color: #e2d0eb; */
  /* background-color: #a7b7e6; */
  /* background-color: #fef2e2; */
  background-color: #edececbe;
  border-radius: 0 0 10px 0;
  padding: 0 1rem 1rem 0;
  margin: 0 2rem 0 0;
  /* border: 1px solid yellow; */
}

.content1 .cont_box2 .inner_div6{
  /* width: 95%;
  height: 97.8%; */
  width: 100%;
  height: 95%;
  border-radius: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF;
  padding: 0 0 2rem 0;
  /* background-color: #FEFBF3; */
  /* background-color: #F8F6F4; */
  /* border: 1px solid blue; */
}

/* 
.box1 {
  background-color: #aaa;
  flex-grow: 1;
  border-left: 12px solid #aaa;
  border-right: 12px solid #aaa;
  border-bottom: 12px solid #aaa;
  border-radius: 0 0 10px 10px ;
}

.box1 .content1 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 0 0 10px 10px ;

}

.box1 .content1 .cont_box1 {
  width:70%;
  background: #ddd;
  padding: 2rem 0 0.2rem 1.5rem;
  border-radius: 0 0 0 10px ;

}

.box1 .content1 .cont_box1 {

} */

/* .box1 .content1 .cont_box1 .buttons {
  display: flex;
  justify-content: space-between;
} */

/* .box1 .content1 .cont_box2 {
  width: 30%;
  background: #fff;
  border-radius: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */



.container {
  width: 100%;
}

.resizer[data-direction="vertical"] {
  margin: 16px 0 8px 0;
  border: 0.5px solid #ccc;
  background-image: linear-gradient(270deg, #bbb, #555, #666, #fff, #888);
  cursor: ns-resize;
  height: 2px;
  width: 95%;
}


.section1 {
  
   /* left가 차지하고 남은 공간에 따라 유동적으로 변화  */
  flex: 1;
  height: 36.5rem;

  /* align-items: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
 
}

.top {
  /* 초기 높이값 */
  /* height: 30rem; */
  /* width: 100%; */

  /* 중앙 정렬 */
  /* align-items: center;
  display: flex;
  justify-content: center; */
  /* z-index: 1; */
  overflow: hidden;
  overflow-y: auto;
  padding-right: 1.5rem;
}



.top::-webkit-scrollbar{
  width: 12px;
}

.top::-webkit-scrollbar-thumb{
  background-color: #bbb;
  border-radius: 25px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.top::-webkit-scrollbar-track{
  background-color: #ddd;
}


.bottom {
  /* top이 차지하고 남은 공간에 따라 유동적으로 변화 */
  flex: 1;
  /* background-color: #fff; */
  /* z-index: 99; */
  /* 중앙 정렬 */
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center; */
}
.store_item3 .clicked_rsv .rsv {
  background-color: #ddd;
}
.store_item3 .clicked_rsv .outline {
  background-color: #ddd;
}

.search_wrap {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}


/* 이전 
.book_area1 .book_rt {
  position: fixed;
  content: '';
  border: 3px solid salmon;
  background-color: salmon;
  width: 100px;
  height: 130px;
  right: 13.5rem;
  margin-top: 1rem;
} */

/* 
.book .left_pg {
  content: '';
  border: 1px solid salmon;
  padding: 3rem;
}

.book .right_pg {
  content: '';
  border: 1px solid #72fab4;
  padding: 3rem;
} */


/* +++ 08.13 +++ */
.book_area1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.book_area1 .book_pg1 {
  position: absolute;
  content: '';
  border: 3px solid red;
  background-color: red;
  width: 7rem;
  height: 8rem;
  margin: 1rem 0.7rem 0 0;
}

.book_area2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 7.3rem;
}

.book_area2 .book_pg2 {
  position: absolute;
  content: '';
  border: 3px solid #72faf8;
  background-color: #72faf8;
  width: 7rem;
  height: 8rem;
  margin: 1rem 0 0 0;
}


/***************  페이지 플립 효과  ***************/

#all {

  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 5.9rem;
}

#page-flip {
  /* 바닥 */
  /* background-image: url(https://cssdeck.com/uploads/media/items/6/6h4pDpK.jpg); */
  position: absolute;
  padding: 12px 12px 12px 102px;
  width: 90px;
  height: 120px;
  overflow: hidden;
}


#p0 {
}

#p0 > div {
  width: 85.5px;
  height: 116.4px;
  /* 1pg */
  background-image: url(https://cssdeck.com/uploads/media/items/6/6S8oF28.jpg);
  /* overflow: hidden; */
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: 85.5px 0;
  -webkit-transform: translate(-85.5px, 0) rotate(0deg);
  -webkit-box-shadow: 0 0 1.74px rgba(0, 0, 0, .5);

}


#p0 > div > div {
  width: 3px;
  height: 116.4px;
  float: right;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
}


#spacing {
  width: 4.5px;
  height: 116.4px;
  position: absolute;
  z-index: 0;
  -webkit-transform-origin: 85.5px 0;
  -webkit-transform: translate(0, 0) rotate(0deg);
  background-color: #aaa;
}

/* 시작
webkit-transform-origin -10, webkit-transform: translateX축에 +10 
p1 > div
r3
#p3 > div : translateX축만 -5
#s3 : -10 +10 -18 (접힌부분 그림자)
#p2 > div :  translateX축만 +10 ( webkit-transform-origin, webkit-transform: translate()추가)
#s2 : translateX축만 -10
*/



#r1 {
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 394.5px 150px;
  -webkit-transform: translate(-309px, -150px) rotate(-32deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
}

#p1 {
  width: 385.5px;
  height: 416.4px;
  overflow: hidden;
}

#p1 > div {
  -webkit-transform-origin: 82.5px 0;
  -webkit-transform: translate(312px, 150px) rotate(32deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
  width: 85.5px;
  height: 116.4px;
  /* 열기전 표지 */
  background-image: url(https://cssdeck.com/uploads/media/items/8/87WOlJH.jpg);
}


#p1 > div > div {
  width: 3px;
  height: 116.4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
}

#p2 > div {
  width: 85.5px;
  height: 116.4px;
  -webkit-box-shadow: 0 0 3.3px rgba(0, 0, 0, .5);
  position: absolute;
  z-index: 1;
  /* 2pg */
  background-image: url(https://cssdeck.com/uploads/media/items/4/4FpEEbu.jpg);
  -webkit-transform-origin: 0 0;
  -webkit-transform: translate(3px, 0) rotate(0deg);
}

#r3 {
  -webkit-transform-origin: 391.5px 147px;
  -webkit-transform: translate(-309px, -147px) rotate(-32deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
  position: absolute;
  z-index: 2;
}

#s3 {
  -webkit-transform-origin: 18px 150px;
  -webkit-transform: translate(67.5px, -150px) rotate(-32deg) translate(6.6px, 0);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
  position: absolute;
  z-index: 1;
}

/* #page-flip:active #s3 {
  -webkit-transform-origin: 325px 500px;
  -webkit-transform: translate(-40px, -500px) rotate(0deg) translate(40px, 0);
} */

#sp3 {
  width: 7.5px;
  height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
  -webkit-transition-property: width;
  -webkit-transition-duration: 1s;
  overflow: hidden;
}

/* #page-flip:active #sp3 { width: 11px } */

.s {
  width: 85.5px;
  height: 116.4px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  -webkit-transform-origin: 0 0;
  -webkit-transform: translate(3px, 0) rotate(0deg);
}

#s2 {
  -webkit-transform-origin: 13.5px 150px;
  -webkit-transform: translate(69px, -150px) rotate(-32deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
  position: absolute;
}

#sp2 {
  width: 4.5px;
  height: 300px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .18)), to(rgba(0,0,0,0)));
  overflow: hidden;
}

#s4 {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
}

/* #page-flip:active #s4 { opacity: 0 }

#page-flip:active #s2 {
  -webkit-transform-origin: 300px 500px;
  -webkit-transform: translate(-15px, -500px) rotate(0deg);
} */

#p3 {
  width: 385.5px;
  height: 416.4px;
  overflow: hidden;
}

#p3 > div {
  -webkit-transform-origin: 0 0;
  -webkit-transform: translate(375px, 150px) rotate(-32deg);
  -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
  -webkit-transition-duration: 1s;
  -webkit-box-shadow: 0 0 3.3px rgba(0, 0, 0, .5);
  width: 85.5px;
  height: 116.4px;
  /* 1pg */
  background-image: url(https://cssdeck.com/uploads/media/items/6/6S8oF28.jpg);
  overflow: hidden;
}

#p3 > div > div {
  width: 3px;
  height: 150px;
  float: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0,0,0,.20)));
}

/* 활성 */


#page-flip.page-flipped #r1 {
  -webkit-transform-origin: 471px 150px;
  -webkit-transform: translate(-385.5px, -150px) rotate(0deg);
}

#page-flip.page-flipped #p1 > div {
  -webkit-transform-origin: 82.5px 0;
  -webkit-transform: translate(388.5px, 150px) rotate(0deg);
}

#page-flip.page-flipped #r3 {
  -webkit-transform-origin: 471px 150px;
  -webkit-transform: translate(-385.5px, -150px) rotate(0deg);
}

#page-flip.page-flipped #p3 > div {
  -webkit-transform-origin: 0 0;
  -webkit-transform: translate(300px, 150px) rotate(0deg);
}

/* 그라데이션 */

#page-flip.page-flipped #s3 {
-webkit-transform-origin: 97.5px 150px;
-webkit-transform: translate(-12px, -150px) rotate(0deg) translate(12px, 0);
}

#page-flip.page-flipped #sp3 { 
width: 3.3px;
}

#page-flip.page-flipped #s2 {
-webkit-transform-origin: 90px 150px;
-webkit-transform: translate(-4.5px, -150px) rotate(0deg);
}

#page-flip.page-flipped #s4 { 
opacity: 0;
}

/* add 07.11 */
/* #page-flip:active #p0 > div {
  -webkit-transform-origin: 285px 0;
  -webkit-transform: translate(-285px, 0) rotate(0deg);
} */

/* a태그 효과 */
a {
  /* display: block;
  position: absolute; */
  /* margin: -6000px 0 0 0; */
  /* padding: 0.3px;
  z-index: 3; */
  /* -webkit-transition-property: margin;
  -webkit-transition-duration: 0.01s; */
}

#coke {
  width: 75.9px;
  height: 47.4px;
}

a:active {
  padding: 0;
  border: 1px dotted #92C7C1;
}

#page-flip:active #coke {
  -webkit-transition-delay: .8s;
  margin: 9.9px 0 0 4.2px;
}

#meninas {
  width: 75.9px;
  height: 50.1px;
}

#page-flip:active #meninas {
  -webkit-transition-delay: .8s;
  margin: 60.9px 0 0 4.2px;
}


/*************** 달력 시작 ***************/

.content3 {
  justify-content: center;
  margin: 0 auto;
  height: 60%;
}

.Calendar {
  width:100%;
  /* max-width: 340px; */
  /* min-height: 100%; */
  height:100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 15px 0;
  table-layout:fixed;
  padding: 1rem;
}


.Calendar thead {
  width:100%;
  height:20%;
}

.Calendar>tbody>tr>td {
  width: 14.28%; /* 테이블의 총 너비/7 = 각 요일의 너비로 동일하게 설정 */
  height:auto;
  box-sizing: border-box; /* 패딩, 경계선이 요소의 크기에 포함 */
}

.Calendar>thead>tr:first-child>td {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
  font-family: 'Questrial', sans-serif;
  font-weight: 600; 
}



.Calendar>tbody>tr>td>p {
  margin:0 auto;
  /* border:2px solid lightsalmon; */
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition-duration: .2s;
  line-height: 150%;
  padding: 0.2rem;
  /* margin: 5%; */
  display: block;
  text-align: center;
}        
.Calendar>tbody>tr>td>div.rsv_check {
  width: 100%;
  color:green;
  font-size:0.8rem;
  font-weight: bold;
  padding: 0.2rem;
}        

.pastDay {
  /* width:50%; */
  /* height:15%; */
  color: lightgray;
}

.today {
  background-color: #F5D042;            
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.futureDay {
  background-color: #FFFFFF;
  cursor: pointer;
}
.futureDay:hover{
  background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0A174E;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/*************** 달력 끝 ***************/

#store form {

}

#store .store_item1 {
  width: 100%;
}

/* 체크박스 */
#store .store_item1 .align_boxes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.2rem;
}

#store .store_item1 .align_boxes input[type='checkbox']{
}

/* 검색input */
#store .store_item1 .align_inputs {
  display: flex;
  justify-content: flex-start;
  /* max-width: 30%; */
  /* flex-direction: column; */
}

#store .store_item1 .align_inputs .input_box {
  position: relative;
}

/* #store .store_item1 .align_inputs input {
  border: 0;
  border-radius: 12px;
  outline: none;
  color: #fff;
  padding: 5px;
  background-color: #bbb;
  margin: 0.4rem 0.4rem 0 0;
} */


.align_inputs .input_box input {
  width: 10rem;
  padding: 10px 0;
  /* font-size: 1rem; */
  color: #000;
  margin-right: 1rem;
  border: none;
  border-bottom: 1px solid #bbb;
  outline: none;
  background: transparent;
}

.align_inputs .input_box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #bbb;
  pointer-events: none;
  transition: .5s;
}
/* 
.align_inputs .input_box .search-input:focus ~ label, 
.align_inputs .input_box .search-input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
} */

.align_inputs .input_box a {
  /* position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px */
}


.store_item1 .align_inputs #btn_search {
  border: 0;
  border-radius: 12px;
  outline: none;
  color: #fff;
  padding: 5px;
  background-color: #333;
  margin: 0.4rem 0 0 0;
  width: 3rem;
}


.content1 .head_user {
  /* height: 200px; */
  /* display: flex; */
  /* justify-content: space-between; */
}

.content1 .head_user .category{
  /* line-height: 200px;
  text-align: center; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */

}

.content1 .head_user span{
  /* line-height: 200px;
  text-align: center; */
  /* display: flex; */
  /* justify-content: space-between; */

  display: block;
  /* height: 100px;
  line-height: 100px;
  white-space: nowrap; */
}

.content1 .head_user .side {
  /* line-height: 200px;
  text-align: center; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  /* border: 1px solid blue; */
}

.content1 .store_item2 {
  width: 100%;
  margin-top: 5rem;
}

.content1 .store_item2 .rsv {
  /* margin-bottom: 2rem; */
}

.content1 .store_item2 hr {
  width: 100%;
}

.content1 .store_item2 .del-bt {
  border: 0;
  border-radius: 12px;
  outline: none;
  color: #fff;
  padding: 5px;
  background-color: #333;
}

.content1 .store_item2 .user-info {
  display: flex;
  justify-content: space-between;
}

.content1 .store_item3 {
  width: 100%;
  /* 스크롤바 */
  min-width: 0;
  overflow: hidden;
}

.content1 .store_item3 .clicked_rsv {
  width: 100%;
  white-space: nowrap;
  /* border: 1px solid red; */
  display: inline-block;
  overflow-x: auto;
  
}

.content1 .store_item3 .clicked_rsv::-webkit-scrollbar{
  height: 6px;
}

.content1 .store_item3 .clicked_rsv::-webkit-scrollbar-thumb{
  background-color: #575757;
  border-radius: 25px;
}

.content1 .store_item3 .clicked_rsv::-webkit-scrollbar-track{
  background-color: #bbb;
}



/* 횡스크롤 안보이게 */
.content1 .store_item3 .clicked_rsv::-webkit-scrollbar{
  /* display: none;  */
}

.content1 .store_item3 .clicked_rsv .divwrap {
  /* border: 1px solid blue; */
  /* margin: 1rem 1rem 1rem 0; */
  /* padding: 1rem; */
  color: #000;
  display: inline-block;
  white-space: normal;
}

/* hover시 스타일변경 */
.content1 .content .store_item3 .clicked_rsv .divwrap:hover > .outline {
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
}

.content1 .store_item3 .clicked_rsv .divwrap:hover > .rsv {
  background-color: #555;
  color: #fff;
}

/* hover시 형제들 이동 */
.content1 .store_item3 .clicked_rsv .divwrap:hover {
  transform: translate(10%, -5%);
}

.content1 .store_item3 .clicked_rsv .divwrap:hover ~ .divwrap {
  transform: translateX(10%);
}

.content1 .store_item3 .clicked_rsv .divwrap:hover:first-child ~ .divwrap {
  transform: translateX(18%);
}

/* 가로 */
.content1 .store_item3 .clicked_rsv .divwrap:hover::before {
  content: '';
  background-color: #888;
  width: 9%;
  height: 84%;
  position: absolute;
  top: 10%;
  left: -9%;
  opacity: 0.5;
  transform: skew(0, -45deg);
  z-index: -1;
}

.content1 .store_item3 .clicked_rsv .divwrap:first-child:hover::before {
  left: 99.5%;
  transform: skew(0, 45deg);
  /* z-index: -1; */
}

/* 세로 */
.content1 .store_item3 .clicked_rsv .divwrap:hover::after {
  content: '';
  background-color: #333;
  width: 100%;
  height: 7%;
  position: absolute;
  top: 90%;
  left: -3%;
  opacity: 0.5;
  transform: skew(-45deg, 0);
  z-index: -1;
}

.content1 .store_item3 .clicked_rsv .divwrap:first-child:hover::after {
  width: 90%;
  height: 11%;
  top: 85%;
  left: 9%;
  transform: skew(45deg, 0);
  z-index: -1;
}

.content1 .store_item3 .clicked_rsv .divwrap:last-child:hover::after {
  width: 90%;
  height: 11%;
  top: 85%;
  left: 1%;
  z-index: -1;
}

.content1 .store_item3 .clicked_rsv .outline {
  margin: 1rem 0 0 0;
  padding: 0.5rem 0 0 0.5rem;
  /* border: 1px solid red; */
  border-top: 2px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #000;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.05);
  height: 30px;

}


.content1 .store_item3 .clicked_rsv .divwrap:first-child .outline {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.content1 .store_item3 .clicked_rsv .divwrap:last-child .outline {
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}


.content1 .store_item3 .clicked_rsv .rsv {
  margin: 0 0 1rem 0;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  /* border-radius: 0 0 1.8rem 1.8rem; */
  font-size: 0.7rem;
  color: #000;
  border-bottom: 1px solid #ccc;
  /* box-shadow: 0 0 3px 3px rgba(0,0,0,.05); */

}

.content1 .store_item3 .clicked_rsv .divwrap:first-child .rsv {
  border-radius: 0 0 0 1rem;
  border-bottom: 1px solid #ccc;
}

.content1 .store_item3 .clicked_rsv .divwrap:last-child .rsv {
  border-radius: 0 0 1rem 0;
  border-bottom: 1px solid #ccc;
}


.box2 {
  /* background-color: brown; */
  /* display:flex; */
  border-radius: 0 2% 0 0;
}

.box2 .content2 {
  
  backdrop-filter: blur(10px);
  position:relative;
  /* top:50%; */
  /* width: 80%; */
  height: 80%;
  /* align-self: center;  */
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  display: flex;
  /* 07.07 */
  /* margin-bottom: 5rem; */
}

.content2 .con2_nav {
  margin: 0;
  width: 50%;
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
  /* justify-self: center; */
  /* width: 90%; */
  /* height: 10%; */
  /* border:2px solid wheat; */

}

.content2 .con2_nav .nav_button1 {
  width: 2rem;
  /* height: 50%; */
  /* border: 0; */
  /* border-radius: 50%; */
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.content2 .con2_nav .nav_button1 img {
  /* margin: 0 auto; */
  height: 1rem;
}


.content2 .con2_nav .nav_button2 {
  margin: 0;
}

/* .content2 .con2_nav .nav_button2 img {
  margin: 0 auto;
  width: 80%;
  height: 50%;
} */

.content2 .con2_manager1 {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 20%;
  margin: 1.5rem 0;
  /* border:3px solid chocolate; */
}

.con2_manager1 .profile_img {
  width: 1.5rem;
  /* height: 2rem; */
  margin-right: 0.5rem;
}

.pagination1 {
  display: flex;
  justify-content: center;
}

.pagination1 a {
  padding: 6px;
}

.pagination2 {
  display: flex;
  justify-content: center;
}

.pagination2 a {
  padding: 6px;
}

@media screen and (max-width:6000px){
  body{
    width:100%;
  }
}