@import url(https://fonts.googleapis.com/css?family=Montserrat);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size:62.5%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul{
  list-style: none;
}

.content1 {
  width: 100%;
  /* height: 100vh; */
}
.content1 .cont_box1 {
  /* display: flex; */
}
.inner_div1{
  background-color: #99bbbc;
  padding: 2rem 6rem 2rem 6rem;
}
.content1 .cont_box1 .inner_div2{
  width: 100%;
  height: 90%;
  background-color: #e0dede9e;
  border-radius: 10px;
  padding: 1rem;

}
.content1 .cont_box1 .inner_div3{
  width: 100%;
  height: 95%;
  justify-content: center;
  background-color: #fefbf3d9;
  border-radius: 10px;
}


.cont_box1 .inner_div3 .left_bar {
  width: 4rem;
  /* height: calc(100% - 4rem); */
  border-right: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.right_content {
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
}

.right_content hr {
  width: 70%;
  color: #fff;
}

.top_cont {
  display: flex;
  position: relative;
}

.top_cont .t_l {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 3rem;
  left: -3rem;
}

.top_cont .t_l img{
  width: 70%;
}

.top_cont .t_r {
  width: 60%;
  margin-left: 40%;
  padding: 1rem 2rem 1rem 2rem;
}

.top_cont .t_r .title {
  font-size: 2rem;
  font-weight: bold;
}

.top_cont .t_r .st-name {
  font-weight: bold;
}

.top_cont .t_r .description {
  font-size: 0.7rem;
}

.bottom_cont {
  display: flex;
}

.bottom_cont .b_l {
  width: 25%;
  height: 50vh;
}

.bottom_cont .b_r {
  width: 75%;
  margin-right: 2rem;
}


.inner_div3 .main{
  display: flex;
  padding: 2rem 0 0 0;
}

.cont_box1 .inner_div3 .left_bar .bar_icons {
  margin-bottom: 4rem;
}

.cont_box1 .inner_div3 .left_bar .bar_icons:hover {
  background-color: #F5D042;
  padding: 4px;
  border-radius: 16px;
}

.cont_box1 .inner_div3 .left_bar .bar_icons a {
  text-decoration: none;
  color: black;
}


.box1 {
  display:flex;
  justify-content: end;
}

#wrap .box1 .content1{
  border-radius: 20px 0 0 20px;
  width:90%;
  height:80%;
  
  align-self: center;
  backdrop-filter: blur(20px);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, .75), inset 0px 0px 2px rgba(255, 255, 255, .7), 0px 3px 3px rgba(0,0,0, .3);
}


#wrap .box1 .content1 .section1{
  justify-content: end;
  align-items: center;
  border:1px solid #fff;
  border-radius: 20px;
  width:90%;
  height:80%;
  margin: 0 auto;
  align-self: center;
}

.content1 .layout {
  width:100%;
  height:100%;
  display: flex;
  position: relative;
}

/* .box2{
  width: 30%;
} */

.content2{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* height:80%; */
  /* border-radius: 0 10px 0 0; */
  /* backdrop-filter: blur(20px); */
}

.content2 .con2_nav {
  margin: 0;
  /* width: 50%; */
}

.content2 .con2_nav .nav_button1 {
  width: 2rem;
}

.content2 .con2_nav .nav_button1 img {
  height: 1rem;
}

.content2 .con2_nav .nav_button2 {
  margin: 0;
}

.content2 .con2_nav a {
  width:8%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 .con2_nav a .nav_button2 {
  margin: 0;
}

.content2 .con2_nav a .nav_button2 img {
  margin:0 auto;
  width:80%;
  height:50%;
}


.content2 .con2_manager1 {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  height: 20%;
  margin: 1.5rem 0;
}

.con2_manager1 .profile_img {
  width: 1.5rem;
  margin-right: 0.5rem;
}


  
/* 비활성 버튼 스타일 */
.disabled-time {background-color: #333 !important; color: #ddd; opacity: 0.2;}
.disabled-time:hover {background-color: #333 !important; border: 1px solid #818181 !important; cursor: default !important;}


/* tab 스타일 */
.tabcont {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  padding: 10px 0px;
  text-align: center;
  margin: auto;
  /* background: yellow; */
}

.tabcont .card {
  max-width: 600px;
  min-height: 140px;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  z-index: 4 !important;
  position: relative;
  /* background: linear-gradient(#141e30, #243b55); */
  /* background: #16181a; */
  /* background: hsl(232deg 18% 8%); */
  /* background: transparent; */
  /* background: #C5D1D2; */

  /* background: #99BBBC;
  border-top: 1px solid #3b3d3f; */
}

.tabs {
  text-align: left;
  position: relative;
}

.tabs .trapez {
  position: relative;
}

.tabs .trapez:before,
.tabs .trapez:after {
  display: block;
  content: " ";
  position: absolute;
  top: -1px;
  height: 103%;
  width: 20px;
  background-color: #26292c;
  transition: all 250ms ease;
  /* background-color: #FFF; */
  /* transition: all 250ms ease; */
}

/* 
.tabs .trapez:before {
  right: -10px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0, 0, 0, .1) 3px 2px 5px, inset rgba(255, 255, 255, .09) -1px 0;
  display: block;
  content: " ";
  position: absolute;
  top: -1px;
  height: 103%;
  width: 20px;
  background-color: #26292c;
  transition: all 250ms ease;
  border-radius: 0 8px 0 0;
} */

.tabs .trapez:before {
  right: -10px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0, 0, 0, .1) 3px 2px 5px, inset rgba(255, 255, 255, .09) -1px 0;
  /* background-color: #26292c;
  transition: all 250ms ease; */
  border-radius: 0 8px 0 0;
}

.tabs .trapez:after {
  left: -10px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
  border-radius: 8px 0 0 0;
}

.tabs .trapez:hover,
.tabs .trapez:hover:before,
.tabs .trapez:hover:after {
  background-color: #616971;
  color: #444;
}
.tabs .trapez.active {
  background-color: #fff;
  z-index: 3;
}
.tabs .trapez.active,
.tabs .trapez.active:before,
.tabs .trapez.active:after {
  background-color: #fff;
  color: #fff;
}


.tabs input {
  position: relative;
  opacity: 0;
  margin: auto !important;
  padding: 0;
}

.tabs input + label:hover {
  color: #777;
}
.tabs .tabsShadow {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  position: absolute;
  height: 35px;
  z-index: 0;
  top: 0;
  pointer-events: none;
}

.innertxt .innerbox {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
  /* padding: 10px 20px; */
  padding: 10px 0;
  background: #F5F5EE;
  /* display: flex; */
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

/* 탭 색상 */
/* #tab-1:checked ~ .tab1, .tab1, .tab1.active:before, .tab1.active:after {
  background-color: #8547ff;
} */
#tab-1:checked ~ .tab1,
#tab-1:checked ~ .tab1:before,
#tab-1:checked ~ .tab1:after {
  background-color: #8547ff;
}
#tab-2:checked ~ .tab2,
#tab-2:checked ~ .tab2:before,
#tab-2:checked ~ .tab2:after {
  background-color: #51a14c;
}
#tab-3:checked ~ .tab3,
#tab-3:checked ~ .tab3:before,
#tab-3:checked ~ .tab3:after {
  background-color: #ffb54d;
}
#tab-4:checked ~ .tab4,
#tab-4:checked ~ .tab4:before,
#tab-4:checked ~ .tab4:after {
  background-color: #b9326f;
}

/* 슬라이더 색상 */
#tab-1:checked ~ .h-slider {
  left: 0px;
}

#tab-2:checked ~ .h-slider {
  background: linear-gradient(90deg, #51a14c 0%, #10c33e 100%);
  box-shadow: 0px 0px 8px 0px rgba(47, 187, 12, 0.62);
}


#tab-1:checked ~ section #innertxt-1,
#tab-2:checked ~ section #innertxt-2,
#tab-3:checked ~ section #innertxt-3,
#tab-4:checked ~ section #innertxt-4 {
  opacity: 1;
  visibility: visible;
}

.tabs input + label {
  /* margin: 12px -8px; */
  margin: 12px 0;
  width: 15%;
  transition: all 0.3s;
  text-align: center;
  border: none;
  /* border-bottom: 0.5pt solid #1d1e22; */
  /* border-bottom: 0.5pt solid #1d1e22; */
  color: #e7e9f5;
  /* color: #333; */
  display: inline-flex;
  -webkit-box-pack: center;
  padding: 5pt 10pt;
  vertical-align: top;
  justify-content: flex-start;
  /* background: #333; */
  /* box-shadow: 1px 1px 2px 1px #231f20; */
  box-shadow: 1px #231f20;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 8pt;
  background: #26292c;
  /* background: #fff; */
  /* background: transparent; */
  /* background: #99BBBC; */
  /* background: #C5D1D2; */
  margin-bottom: 0.5px;
  border-radius: 7px 7px 0 0 !important;
  border-top: 1px solid #3b3d3f;
  letter-spacing: 0.1666666667em !important;
  /* background: hsl(232deg 6% 17%); */
  cursor: pointer;
}

.tabs input + label span {
  font-size: 1rem;
}

.innertxt {
  /* margin: 0px auto; */
  text-align: left;
  /* line-height: 20px; */
  /* height: 240px; */
  border-radius: 5px;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  display: block;
  /* padding: 1.25rem; */
  z-index: 2;
  border-top: 1px solid #3b3d3f;
  /* background: hsl(232deg 16% 15%); */
  /* background: transparent; */
  background: #F5F5EE;
  position: relative;
}

.innertxt p {
  margin: 10px 15px 10px 0;
  letter-spacing: 0.75px;
  font-size: 14pt;
  font-style: normal;
  /* color: #f0f2fc; */
  /* color: #444; */
  line-height: 30px;
  margin-top: 10pt;
  font-weight: 300 !important;
}

div.tab-title.tab4,
div.tab-title.tab2,
div.tab-title.tab1,
div.tab-title.tab3 {
  display: inline-flex;
  color: #fff;
  background-position: bottom center;
  margin-bottom: 0pt !important;
  margin-top: 6pt;
  margin-left: 1rem;
  height: 22pt;
  text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  text-transform: capitalize;
  /* font-size: 24px; */
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 800 !important;
}

div.tab-title.tab3 {
  background: linear-gradient(10deg, #f7ec9c, #ff8651);
}

div.tab-title.tab2 {
  background: linear-gradient(10deg, #02ce85, #02ceab);
}

div.tab-title.tab1 {
  background: linear-gradient(
    60deg,
    hsl(202deg 100% 75%),
    hsl(205deg 100% 64%),
    hsl(230deg 100% 75%),
    hsl(270deg 100% 72%)
  );
}

div.tab-title.tab4 {
  background: linear-gradient(70deg, #c51574, #97389b);
}

label.tab.tab1 {
  border-radius: 6pt 0 0 6pt;
}

label.tab.tab4 {
  border-radius: 0 6pt 6pt 0;
}
/* #tab-1:checked + label {
  color: deepskyblue;
}
/* #tab-2:checked + label {
  color: #51a14c;
} 
#tab-3:checked + label {
  color: #ffadfa;
  color: #ffaa75;
}
#tab-4:checked + label {
  color: #ffadfa;
} 
/* #tab-3:checked + label {
  color: #525252;
} */

#tab-1:checked ~ .h-slider {
  /* left: 1.7%; */
}

#tab-2:checked ~ .h-slider {
  left: 24.5%;
}
#tab-3:checked ~ .h-slider {
  background: linear-gradient(
    90deg,
    #faffcc 0%,
    #f5eea3 10%,
    #ffe48a 40%,
    #ffb54d 65%,
    #ff974d 85%,
    #ff8052 100%
  );
  left: 49%;
  box-shadow: 0px 0px 8px 0px hsl(17.72deg 100% 70% / 70%);
}

#tab-4:checked ~ .h-slider {
  background: linear-gradient(90deg, #b9326f 0%, #ff5ddc 100%);
  box-shadow: 0px 0px 8px 0px rgba(231, 13, 93, 0.57);
  left: 73.5% !important;
}

.h-slider {
  width: 22%;
  padding: 0px 13px;
  height: 4.5px;
  border-radius: 0 0 1px 1px;
  position: absolute;
  box-shadow: 0px 0px 8px 0px hsl(262deg 100% 70% / 70%);
  background: linear-gradient(
    113deg,
    hsl(260deg 100% 64%) 0%,
    hsl(190deg 100% 55%) 100%
  );
  transition: all 0.3s;
  /* top: 36px; */
  top: 38px;
  z-index: 5;
}

span.numit {
  font-size: 12pt;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px #e7e9f5;
  color: #0e101a;
  margin-right: 2px;
  margin-left: -2px;
  padding: 0;
  color: aliceblue;
  text-shadow: 0.5pt 0.5pt 0.5pt #2d3748;
}


/* tab 끝 */


/* 달력 시작 */

.Calendar {
  /* width:90%; */
  /* width:40vw; */
  /* height:auto; */
  /* height:70%; */
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  margin: 1rem auto;
}



.Calendar thead {
  width:100%;
  height:20%;
}

.Calendar>tbody>tr>td {
  width: 14.28%; /* 테이블의 총 너비를 7로 나눈 결과로 각 요일의 너비를 동일하게 설정합니다. */
  height:auto; /* 높이를 본래 설정대로 유지하거나 필요한 경우 적절한 높이 값으로 설정합니다. */
  box-sizing: border-box; /* 패딩 및 경계선이 요소의 크기에 포함되도록 box-sizing을 설정합니다. */
}

.Calendar>thead>tr:first-child>td {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
  font-family: 'Questrial', sans-serif;
  font-weight: 600; 
}



.Calendar>tbody>tr>td>p {
  margin: 3px 6px;
  /* border:2px solid lightsalmon; */
  /* font-family: 'Montserrat', sans-serif; */
  width: 100%;
  /* height: auto; */
  /* border-radius: 50%; */
  transition-duration: .2s;
  /* line-height: 300%; */
  /* margin: 5%; */
  display: block;
  text-align: center;
}        
.Calendar>tbody>tr>td>div.rsv_check {
  color:green;
  font-size:0.8rem;
  font-weight: bold;
}
/* 
.Calendar .unchecked2 {
  background-color: #555;
  border: 3px solid red;
} */

.pastDay {
  /* width:50%; */
  /* height:15%; */
  /* color: lightgray; */
  color: #ddd;
}

.today {
  background-color: #F5D042;            
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
}

.futureDay {
  /* background-color: #FFFFFF; */
  cursor: pointer;
}
.futureDay:hover{
  background:#ddd;
  border-radius: 50%;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0A174E;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.Calendar thead.change_mode {
  display: block;
  width: 100%;
}

.change_mode tr {
  display: table;
  width: 100%;
}

.change_mode tr td {
  text-align: center;
}

/* 달력 다크모드 시작 */
.edit_mode.unchecked2 {
  display: block;
  background-color: #555;
  /* border: 10px solid red; */
  padding: 15px 15px 15px 5px;
  border-radius: 0.8rem;
  /* z-index: 4; */
}

.edit_mode.unchecked2 tr {
  /* display: table; */
}

.pastDay.unchecked {
  /* color: #bbb; */
  color: #000;
}

.today.unchecked {
  background-color: #F5D042;
  color: black;
}

.futureDay.unchecked {
  /* background-color: transparent; */
  /* background-color: #555; */
  color: #bbb;
}

.futureDay.unchecked:hover {
  /* background-color: transparent; */
  /* background-color: #555; */
  color: #000;
}

.futureDay.unchecked {
  /* background-color: transparent; */
  /* background-color: #555; */
  color: #bbb;
}

.today.unchecked.d_choiceDay {
  background-color: #8446FC;
  border-radius: 12px 0 0 12px;
  color: #fff;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: green;
  color: #fff;
  border-radius: 50%;
}
/* 
.futureDay.d_choiceDay,
.today.d_choiceDay {
  background: #4cd964;
  color: #fff;
}

.futureDay.choiceDay2,
.today.choiceDay2 {
  background: red;
  color: #fff;
} */

/* 추가 25.02.13 */
.futureDay.between {
  border-radius: 0;
}
 .futureDay.d_choiceDay,  .futureDay.between,  .futureDay.choiceDay2 {
  /* background-color: #b670f4; */
  background-color: #8446FC;
  color: #fff;
}
 .futureDay.d_choiceDay {
  border-radius: 12px 0 0 12px;
}
 .futureDay.choiceDay2 {
  border-radius: 0 12px 12px 0;
}
 .futureDay.d_choiceDay.choiceDay2 {
  border-radius: 12px;
}
.futureDay.d_choiceDay.choiceDay2:after {
  display: none;
}
/* 추가 25.02.13 */

/* 달력 다크모드 끝 */
/* 달력 끝 */

.txtcont {
  display: flex;
  flex-direction: row-reverse;
}

.mid {
  position:relative;
  /* display: flex;
  align-items:center;
  justify-content: end; */
  /* width: 40vw; */
  margin: 0 auto;
  /* padding-top:1em; */
}

.rsv_start_end {
  font-family: sans-serif;
  font-weight: 800;
  display: none;
}

.rsv_start_end > .switch {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #4cd964;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.switch > span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}

.switch > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}

.rsv_start_end > input[type=radio] {
  display: none;
}

.switch  > label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label[for=rsv_start_end_yes] {
  position: absolute;
  left: 0px;
}

label[for=rsv_start_end_no] {
  position: absolute;
  right: 0px;
}

#rsv_start_end_no:checked~.switch {
  background: #ff3b30;
}

#rsv_start_end_no:checked~.switch span {
  background: #fff;
  margin-left: -8px;
}

#rsv_start_end_no:checked~.switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#rsv_start_end_yes:checked~.switch label[for=rsv_start_end_yes] {
  color: #fff;
}

#rsv_start_end_no:checked~.switch label[for=rsv_start_end_no] {
  color: #fff;
}

.cal_top {
  display: flex;
  align-items:center;
  justify-content: end;
}


.title_setting {
  font-size: 0.8rem;
  margin-right: 1rem;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  /* font-size: 0.75em; */
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  /* width: 5.3rem;
  height: 3rem; */
  width: 4rem;
  height: 2rem;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 2.5em;
  width: 3em; */
  height: 1.8em;
  width: 2em;
  transition: 0.2s;
  padding: 0.33em;
}

.switch-left {
  height: 1.8em;
  width: 2em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  /* ON */
  right: 0.5em;
  bottom: 0;
  /* background-color: #bd5757; */
  background-color: #0084d0;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  /* height: 2.45em; */
  /* height: 1.8em; */
  height: 2.5em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  /* OFF */
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  /* height: 2.5em;
  width: 3em; */
  height: 1.8em;
  width: 2em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 1.8em;
  width: 2em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

.cont_box2 > span {
  flex-grow: 1;
}

#rsv_activate {
  width:100%;
  height:8%;
  /* display:none; */
}



  
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

@keyframes fadeInOut {
  0%   { opacity: 1; }
  34%  { opacity: 0; }
  66%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes growShrink {
  0%   { transform: scale(1); }
  34%  { transform: scale(1.2); }
  66%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@media screen and (max-width:6000px){
  body{
    width:100%;
  }
}