@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

/* :root {
  --aa: 
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size:62.5%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul{
  list-style: none;
}







#wrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  /* position: relative; */
}

body {
  background-image: url("../img/uplecz.jpg");
}

.box1 {
  /* background-color: #000; */
  display:flex;
  justify-content: end;
}

.box1 .content1 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  height: 80%;
  align-self: center;
  border-radius: 2%;
}

.box1 .content1 .cont_box1 {
  width:50%;
  height:100%;
  border: 5px solid lightcoral;
  align-self: center;
  display:flex;
  /* align-items: center; */
  
}

.box1 .content1 .cont_box2 {
  width:50%;
  height:100%;
  border:5px solid lightgreen;
  align-self: center;
  display:flex;
  flex-direction: column;
}

/* 달력 시작 */

.Calendar {
  width:100%;
  height:70%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 15px 0;
}


.Calendar thead {
  width:100%;
  height:20%;
}

.Calendar>tbody>tr>td {
  width: 14.28%; /* 테이블의 총 너비를 7로 나눈 결과로 각 요일의 너비를 동일하게 설정합니다. */
  height:auto; /* 높이를 본래 설정대로 유지하거나 필요한 경우 적절한 높이 값으로 설정합니다. */
  box-sizing: border-box; /* 패딩 및 경계선이 요소의 크기에 포함되도록 box-sizing을 설정합니다. */
}

.Calendar>thead>tr:first-child>td {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
  font-family: 'Questrial', sans-serif;
  font-weight: 600; 
}



.Calendar>tbody>tr>td>p {
  margin:0 auto;
  /* border:2px solid lightsalmon; */
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition-duration: .2s;
  line-height: 300%;
  /* margin: 5%; */
  display: block;
  text-align: center;
}        
.Calendar>tbody>tr>td>div.rsv_check {
  color:green;
  font-size:0.8rem;
  font-weight: bold;
}        

.pastDay {
  /* width:50%; */
  /* height:15%; */
  color: lightgray;
}

.today {
  background-color: #F5D042;            
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.futureDay {
  background-color: #FFFFFF;
  cursor: pointer;
}
.futureDay:hover{
  background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #0A174E;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/* 달력 다크모드 시작 */
.pastDay.unchecked {
  color: #343434;
}

.today.unchecked {
  background-color: #F5D042;
  color: black;
}

.futureDay.unchecked {
  background-color: #555;
}

.futureDay.choiceDay.unchecked,
.today.choiceDay.unchecked {
  background: green;
  color: #fff;
}

.futureDay.d_choiceDay.unchecked,
.today.d_choiceDay.unchecked {
  background: #4cd964;
  color: #fff;
}

.futureDay.choiceDay2.unchecked,
.today.choiceDay2.unchecked {
  background: red;
  color: #fff;
}
/* 달력 다크모드 끝 */
/* 달력 끝 */

.mid {
  position:relative;
  display: flex;
  align-items:center;
  justify-content: end;
  /* padding-top:1em; */
}

.rsv_start_end {
  font-family: sans-serif;
  font-weight: 800;
  display: none;
}

.rsv_start_end > .switch {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #4cd964;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.switch > span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}

.switch > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}

.rsv_start_end > input[type=radio] {
  display: none;
}

.switch  > label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label[for=rsv_start_end_yes] {
  position: absolute;
  left: 0px;
}

label[for=rsv_start_end_no] {
  position: absolute;
  right: 0px;
}

#rsv_start_end_no:checked~.switch {
  background: #ff3b30;
}

#rsv_start_end_no:checked~.switch span {
  background: #fff;
  margin-left: -8px;
}

#rsv_start_end_no:checked~.switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#rsv_start_end_yes:checked~.switch label[for=rsv_start_end_yes] {
  color: #fff;
}

#rsv_start_end_no:checked~.switch label[for=rsv_start_end_no] {
  color: #fff;
}


/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 5.3rem;
  height: 3rem;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

.cont_box2 > span {
  flex-grow: 1;
}

#rsv_activate {
  width:100%;
  height:8%;
  display:none;
}

.box2 {
  /* background-color: brown; */
  display:flex;
  /* justify-content: end; */
}

.box2 .content2 {
  
  backdrop-filter: blur(10px);
  position:relative;
  /* top:50%; */
  width: 80%;
  height: 80%;
  align-self: center; 
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}

.content2 .con2_nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-self: center; */
  width: 90%;
  height: 10%;
  /* border:2px solid wheat; */

}

.content2 .con2_nav .nav_button1 {
  width: 15%;
  height: 50%;
  /* border: 0; */
  /* border-radius: 50%; */
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.content2 .con2_nav .nav_button1 img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}


/* .content2 .con2_nav .nav_button2 {
  width: 8%;
  height: 50%;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.content2 .con2_nav .nav_button2 img {
  margin: 0 auto;
  width: 80%;
  height: 50%;
} */


.content2 .con2_manager1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 20%;
  /* border:3px solid chocolate; */
}

.con2_manager1 .profile_img {
  width: 30%;
  height: 80%;
}

@media screen and (max-width:6000px){
  body{
    width:100%;
  }
}