/* reserve */


/******************* 공통사항 ********************/
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}


/******************* navi ********************/
section.top-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 100;
  background-color: #fff;
}

nav {
  /*  position: relative; */
  display: flex;
  justify-content: space-between;
  background-color: lightsteelblue;
}

nav .logo {
  flex: 1;
  padding-left: 0.5rem;
}

nav .logo a {
  font-size: 2rem;
}

nav .top-nav {
  flex: 9;
}

nav .top-nav ul {
  display: flex;
  justify-content: flex-end;
}

nav .top-nav ul li {
  margin: 0 1rem;
  align-items: center;
  line-height: 2.5rem;
}

nav .top-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav .login {
  line-height: 2.5rem;
  padding: 0 0.5rem 0 1rem;
}

nav .login a {
  text-align: center;
}


/******************* header ********************/
header {
  /* position: relative; */
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 100;
}

header .page-nav {
  margin: 0.5rem 0;
}

header .page-nav span::before {
  content: "\003E";
  margin: 0 10px;
}

header .page-nav span:first-child::before {
  content: ""
}

header h1 {
  text-align: center;
}




/******************* main-wrap  ********************/
section.md-wrapper {
  width: 80%;
  margin: 0 auto;
}

.md-wrapper .main-wrap {
  width: 100%;
  position: relative;
  display: flex;
  padding-left: 20%;
}

.md-wrapper .main-wrap .sidebar {
  width: 15%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 10%;
  height: 135vh;
  /*  display: flex; align-items: center; */
}

.md-wrapper .main-wrap .sidebar .filter-bt {
  padding: 10rem 2rem 0 2rem;
}

.md-wrapper .main-wrap .sidebar .filter-bt div {}

.md-wrapper .main-wrap .sidebar .filter-bt div button {}

.md-wrapper .main-wrap .sidebar .search {
  padding: 2rem;
  display: flex;
}

.md-wrapper .main-wrap .sidebar .search input {
  margin-left: 0.5rem;
  width: 130px;
}

.md-wrapper .main-wrap .contents {
  width: 100%;
  border-right: 1px solid #ccc;
}

.md-wrapper .main-wrap .contents h1 {
  text-align: center;
  margin-top: 0.5rem;
}

.md-wrapper .main-wrap .contents .store-list {}

.md-wrapper .main-wrap .contents .store-list .store {
  display: flex;
  /*  flex:auto; */
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 2rem 1rem 2rem 0;
  padding: 1rem;
}

.md-wrapper .main-wrap .contents .store-list .store .st-left {
  width: 200px;
  height: 200px;
  background-color: #eee;
}

.md-wrapper .main-wrap .contents .store-list .store .st-right {
  width: calc(100% - 200px);
  padding: 1rem;
}

.md-wrapper .main-wrap .contents .store-list .store .st-right h5 {
  padding-bottom: 0.5rem;
}

/******************* footer ********************/
footer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 100;
  background-color: #fff;
  text-align: center;
  background-color: lightsteelblue;
}