*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  margin: 0;
  overflow: auto;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  --blue--: #1976d2;
  /* --blue--: red; */
  --black--: #0a0908;
  --gray--: #24272b;
  --darkgray--: #161a1d;
  --yellow--: rgb(255, 220, 21);
  --grayone--: #343a40;
  --graytwo--: #495057;
  /* background-color: var(--darkgray--); */
}

#root {
  width: 100%;
  height: 100%;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.container {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center; */
}


.app {
  --dlfdbr: rgba(22, 22, 22, 1);
  --dlfdbr2: rgba(40, 40, 40, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  /* background: linear-gradient(-45deg, black 0%, #161616 50%, black 100%); */
  /* background: linear-gradient(-45deg, var(--dlfdbr) 10%, var(--dlfdbr2) 30%, var(--dlfdbr) 50%, var(--dlfdbr2) 70%, var(--dlfdbr) 90%); */
  /* background: linear-gradient(-45deg, #161616, black , #161616 , black, #161616); */
  /* background: linear-gradient(-45deg, black , #fff , black); */
  background: rgba(0, 0, 0, 0);

  /* background-size: 350% 350%; */
  background-size: 100% 100%;
  /* background-position: 0% 100%; */
  /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
    /* background-position: 0% 50%; */
    background-position: 0% 100%;
  }

  50% {
    /* background-position: 100% 50%; */
    /* background-position: 100% 50%; */
  }

  100% {
    /* background-position: 0% 50%; */
    background-position: 100% 0%;
  }
}

#navigation::-webkit-scrollbar {
  width: 0;
}

.hide {
  display: none;
}

#chat-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  /* animation-name: slideUp; */
  /* animation-duration: 2s; */
}

#chat-list::-webkit-scrollbar {
  width: 0;
}

.chats {
  color: white;
}

.chat-list-header {
  width: 100%;
  height: 10%;
}

.chat-list-header .search-input {
  width: 50%;
  height: 80%;
  /* margin-top: 0; */
  /* padding: 18px; */
  font-size: 1rem;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  border: none;
  border-radius: 25px;
  color: whitesmoke;
  background-color: var(--gray--);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: lightgraay;
}

.chat-box {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* overflow-y: scroll; */
}

.chat-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.chat-box,
.setting-content {
  /* margin-bottom: 2em; */
}


.chat-box .chat {
  width: 90%;
  height: 10%;
  display: flex;
  /* background-color: var(--black--); */
  background-color: #212121;
  /* box-shadow:
    2px 2px 10px #000,
    -3px -2px 2px rgba(255, 255, 255, 0.2); */

  box-shadow: 
    inset 0.2rem 0.2rem 0.2rem rgba(255, 255, 255, 0.2), 
    inset -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.6), 
    0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 1), 
    -0.2rem -0.1rem 0.2rem rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
  /* overflow: hidden; */
  cursor: pointer;
}


.chat-box .chat .box-room {
  display: flex;
  /* width: 70%; */
  flex-grow: 1;
  /* text-align: center; */
}

.box-room .business-name {
  align-self: center;
  margin-left: .4rem;
  width: 20%;
  height: 10%;
  background-color: rgba(254, 209, 50, 0.9);
  /* box-shadow: -5px -5px 0px rgba(254, 209, 50, 1); */
  box-shadow: 
  inset 0rem 0.3rem 0.6rem rgba(93, 66, 0, 1),
  inset -0.2rem -0.2rem 10rem rgba(254, 209, 50, 0.9);
  /* background-color: #FED128; */
  /* clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%); */
  display: flex;
  align-items: center;
}

.business-name .b-name1 {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  /* line-height: 3; */
}

.name-box .name {
  font-size: 150%;
}

.name {
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}

.text-box {
  width: 100%;
  overflow: hidden;
}

.text-box span {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  color: gray;
  font-family: "Arial", "Helvetica", "sans-serif";
}

.box-room .room-content {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.chat .count {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat .info {
  /* width: 10%; */
  display: flex;
  align-items: center;
}

.time,
.msg-time {
  color: gray;
}

/* section 끝 */




.chat:active {
  transform: scale(0.95);
}


@keyframes slide {
  50% {
    background-color: var(--grayone--);
  }

  100% {
    background-color: var(--graytwo--);
  }
}

.textload,
.action {
  display: flex;
  align-items: center;
}

.typing {
  margin: 0;
  width: 5px;
  height: 5px;
  padding: 5px;
  margin-right: 3px;
  background-color: #333;
  border-radius: 50%;
  animation-name: slide;
  animation-iteration-count: infinite;

}

.typ1 {
  margin-left: 3px;
  animation-duration: 1s;
}

.typ2 {
  animation-duration: 2s;
}

.typ3 {
  animation-duration: 3s;
}

.box-one {
  height: 100%;
  display: flex;
  align-items: center;
}

.box-one .description {
  display: flex;
  flex-direction: column;

}


.profile-pic {
  position: relative;
  width: 10%;
  height: 100%;
}

.contact-pic {
  /* width: 100%; */
  /* height: 100%; */
  /* border-radius: 50%; */
  /* object-fit: cover; */

}





/* .description, .info {
  display: flex;
  flex-direction: column;

} */

/* .info {
  align-items: end;
} */

.msg-count {
  display: none;
  /* visibility:hidden; */
  background-color: var(--blue--);
  color: white;
  width: 15px;
  height: 15px;
  padding: 5px;
  text-align: center;
  font-size: smaller;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

#chat-room {
  /* width: 61.2%; */
  width: 100%;
  height: 100%;
  /* width: 60%; */
  /* overflow: auto; */
  /* overflow-x: hidden; */
  /* align-self: stretch; */

  /* background-color:  var(--black--); */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #393939;
  background-blend-mode: multiply, multiply; */
  /* animation-name: slideLeft; */
  /* animation-duration: 1s; */
}

#chat-msg-room {
  width: inherit;
  height: inherit;
}

.chat-room-header {
  width: 100%;
  height: 5%;
  align-items: center;
  /* background-color: var(--black--); */
}


.hide {
  display: none;
}

/* #messages-room::-webkit-scrollbar {
  width: 5px;
  background-color:#fff;
}
#messages-room::-webkit-scrollbar-thumb {
  background-color: #fff;
  position: absolute;
  top: 60%;
} */

#messages-room {
  width: 100%;
  height: 70%;
  /* background-color:  var(--black--)rgba(26, 26, 26, 0.986); */
  overflow-y: scroll;
  /* overflow-x:scroll; */
  /* overflow:auto; */
  /* font-size: 16px; */
  /* line-height: 1.7em; */
}

#messages-room::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#messages-room::-webkit-scrollbar {
  width: 5px;
  /* background-color: #F5F5F5; */
  background-color: #000;
}

#messages-room::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.msg-box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-msg {
  align-items: start;

}

.user-msg {
  align-items: end;
  margin-right: 10px;
}

.msg {
  max-width: 50%;
  width: fit-content;
  padding: 12px;
  /* margin: 4px; */
  color: whitesmoke;
}

.contact {
  margin-left: 1rem;
  background-color: var(--darkgray--);
  box-shadow:
    0.1rem 0.1rem 0.7rem #000,
    -0.4rem -0.2rem 0.5rem rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 10px 0;
}

.user {
  /* background-color: #DB3A00; */
  /* background-color: rgba(219, 58, 0, 0.8); */
  /* background-color: rgba(52, 134, 46, 0.5); */
  /* background-color: rgba(93, 90, 192, 0.3); */
  background-color: rgba(255, 266, 266, 0.1);
  box-shadow:
    /* 2px 2px 5px #5D1900, */
    0.2rem 0.2rem 0.5rem #070707,
    -0.1rem -0.1rem 0.2rem rgba(255, 255, 255, 1);
  border-radius: 10px 0 10px 10px;
  /* color: #584827; */
}

.msg-time {
  margin-left: 10px;
  display: block
}

#img-msg {
  padding: 0;
  background-color: transparent;
}

.sent-img {
  width: 110px;
  height: 110px;
  border-radius: 7px;
  object-fit: cover;
  margin: 0.2em;
}

.chat-input-box {
  margin-top: 2rem;
  width: 100%;
  height: 10%;
  /* background-color: var(--black--); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.text-input {
  color: whitesmoke;
  width: 90%;
  height: 70%;
  border-radius: 1rem ;
  /* margin-right: 6px; */
  border: none;
  background-color: var(--darkgray--);
  box-shadow: 
    inset 0.1rem 0.1rem 0.6rem #000, 
    inset -0.1rem -0.1rem 0.2rem rgba(195, 193, 198, 1);
  font-size: 2rem;
}

.text-input::placeholder {
  font-size: 1rem;
  padding-left: 2rem;
}

.text-input:focus {
  outline: none;
}

.send {
  /* padding: 15px; */
  /* border-radius: 50%; */
  /* border: none; */
  /* color: whitesmoke; */
  /* font-size: 10rem; */
  /* background-color: var(--blue--) */
    /*rgb(91, 126, 221)*/

}

.send > span {
  font-size: 4rem;
  /* color: green; */
  /* color: transparent; */
  cursor: pointer;
  background-image: 
    /* linear-gradient(#584827, #2d230f), */
    /* linear-gradient(#000, #2d230f), */
    conic-gradient(from var(--gradient-angle),
     #584827 0%,
     #c7a03c 37%,
     #f9de90 30%,
     #c7a03c 33%,
     #584827 40%,
     #584827 50%,
     #c7a03c 77%,
     #f9de90 80%,
     #c7a03c 83%,
     #584827 90%) ;
    
  /* background-clip: text, border-box; */
  background-clip: text;
  /* background-origin: text; */
  background-origin: border-box;
  -webkit-text-fill-color: transparent;
  animation: 5s gradient-angle infinite linear;
}

.send:active {
  transform: scale(0.9);
}