<script>
    // 달력 시작

    window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

    let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
    let today = new Date();     // 페이지를 로드한 날짜를 저장
    today.setHours(0, 0, 0, 0);    // 비교 편의를 위해 today의 시간을 초기화

    




    // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
    function buildCalendar() {

        let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
        let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

        let tbody_Calendar = document.querySelector(".Calendar > tbody");
        document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
        document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

        while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
            tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
        }

        let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

        for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
            let nowColumn = nowRow.insertCell();        // 열 추가
        }

        for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

            let nowColumn = nowRow.insertCell();        // 새 열을 추가하고


            let newDIV = document.createElement("p");
            newDIV.innerHTML = leftPad(nowDay.getDate());        // 추가한 열에 날짜 입력
            newDIV.setAttribute("data-day", leftPad(nowDay.getDate())); // data-day 속성 추가
            nowColumn.appendChild(newDIV);

            if (nowDay.getDay() == 6) {                 // 토요일인 경우
                nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
            }

            if (nowDay < today) {                       // 지난날인 경우
                newDIV.className = "pastDay";
            }
            else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우
                newDIV.className = "today";
                newDIV.onclick = function () { choiceDate(this); } // 클릭된 요소를 매개변수로 전달
            }
            else { // 미래인 경우
                newDIV.className = "futureDay";
                newDIV.onclick = function () { choiceDate(this); } // 클릭된 요소를 매개변수로 전달
            }
        }
    }

    // 날짜 선택
    function choiceDate(newDIV) {
        if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
            document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
        }
        newDIV.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가


        let selectedDate = document.getElementById("selectedDate");
        let year = nowMonth.getFullYear();
        let month = leftPad(nowMonth.getMonth() + 1);
        let day = newDIV.textContent;

        let detail_date = `${year}-${month}-${day}`;
        selectedDate.textContent = detail_date;

        console.log(detail_date);
        // Update the value of the user_date element
        document.getElementById('detail_user_date').value = detail_date;

        setCookie("selected_date2", detail_date, 1);
        localStorage.setItem("selected_date2", detail_date);

        // restoreSelectedDate2();
        
    }

    // 이전달 버튼 클릭
    function prevCalendar() {
        nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
        buildCalendar();    // 달력 다시 생성
    }
    // 다음달 버튼 클릭
    function nextCalendar() {
        nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
        buildCalendar();    // 달력 다시 생성
    }

    // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
    function leftPad(value) {
        if (value < 10) {
            value = "0" + value;
            return value;
        }
        return value;
    }

    // 달력 끝

    function setUserDateValue() {
        const storedDate = localStorage.getItem("selected_date");
        if (storedDate) {
            document.getElementById('detail_user_date').value = storedDate;
        }
    }

    function restoreSelectedDate() {
        let selectedDateElem = document.getElementById("selectedDate");
        let storedSelectedDate = getCookie("selected_date");

        if (storedSelectedDate) {
            selectedDateElem.textContent = storedSelectedDate;
        }
    }

    function restoreSelectedDate2() {
        let selectedDateElem = document.getElementById("selectedDate");
        // 로컬 스토리지에서 선택한 날짜 가져오기
        let storedSelectedDate = localStorage.getItem("selected_date");

        if (storedSelectedDate) {
            selectedDateElem.textContent = storedSelectedDate;
        }
    }

    function applyStoredValues() {
        let storedDate = localStorage.getItem("selected_date2");
        let storedTime = localStorage.getItem("selected_time2");

        if (storedDate) {
            detailUserDateInput.value = storedDate;
            document.getElementById("selectedDate").innerHTML = storedDate;
        }

        if (storedTime) {
            detailUserTimeInput.value = storedTime;
        }
    }


    document.addEventListener("DOMContentLoaded", function () {

        let detailUserDateInput = document.getElementById("detail_user_date");
        let detailUserTimeInput = document.getElementById("detail_user_time");

        // 페이지가 로드될 때 로컬 스토리지에서 값을 가져오기
        let storedDate = localStorage.getItem("selected_date");
        let storedTime = localStorage.getItem("selected_time");

        // 저장된 값이 있는 경우 사용자의 날짜 및 시간 입력 필드에 값을 설정
        if (storedDate && storedTime) {
            detailUserDateInput.value = storedDate;
            detailUserTimeInput.value = storedTime;
            document.getElementById("selectedDate").innerHTML = storedDate;

            // 처음 설정 후 "selected_date2" 및 "selected_time2"로 전환
            storedDate = localStorage.getItem("selected_date2");
            storedTime = localStorage.getItem("selected_time2");
        } else {
            detailUserDateInput.value = localStorage.getItem("selected_date2");
            detailUserTimeInput.value = localStorage.getItem("selected_time2");
        }

        const timeItems = document.querySelectorAll('.time-item');

        timeItems.forEach(item => {
            item.addEventListener('click', function () {
                // Get the time value from the 'data-time' attribute
                const selectedTime = this.getAttribute('data-time');

                // Set the value of the 'input type="time"' element with the selected time value
                document.getElementById('detail_user_time').value = selectedTime;
                setCookie("selected_time2", selectedTime, 1);
                localStorage.setItem("selected_time2", selectedTime);

                detailUserDateInput.value = localStorage.getItem("selected_date2");
                detailUserTimeInput.value = localStorage.getItem("selected_time2");

                // Update the 'selectedDate' element with the chosen date
                document.getElementById("selectedDate").innerHTML = localStorage.getItem("selected_date2");
            });
        });

    });
</script>

<!-- let selectedDateElement = document.getElementById("selectedDate");
        let sDate = selectedDateElement.textContent;
        console.log('sDate:', sDate);
        const companyDates = JSON.parse('{{ store_dates_json | escapejs | safe }}');
        // document.getElementById("selectedDate").textContent


        function updateDisabledTimes(selectedDate) {
            let disableTimes = [];
            console.log("실행 잘 되니")

            for (let i = 0; i < companyDates.length; i++) {
                if (companyDates[i].user_date.includes(selectedDate)) {
                    disableTimes = JSON.parse(companyDates[i].disable_time);
                    break;
                }
            }

            const timeButtons = document.getElementsByClassName("time-item");
            for (let i = 0; i < timeButtons.length; i++) {
                const buttonTime = timeButtons[i].getAttribute("data-time");
                if (disableTimes.includes(buttonTime)) {
                    timeButtons[i].disabled = true;
                } else {
                    timeButtons[i].disabled = false;
                }
            }
        }

        updateDisabledTimes(sDate); -->