{% autoescape off %}
<script>
    // 달력 시작

    window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

    let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
    let today = new Date();     // 페이지를 로드한 날짜를 저장
    today.setHours(0, 0, 0, 0);    // 비교 편의를 위해 today의 시간을 초기화

    const nowdate = new Date().toISOString().substring(0, 10);
    document.getElementById("detail_user_date").value = nowdate;

    // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
    function buildCalendar() {

        let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
        let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

        let tbody_Calendar = document.querySelector(".Calendar > tbody");
        document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
        document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

        while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
            tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
        }

        let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

        for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
            let nowColumn = nowRow.insertCell();        // 열 추가
        }

        for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

            let nowColumn = nowRow.insertCell();        // 새 열을 추가하고


            let newDIV = document.createElement("p");
            newDIV.innerHTML = leftPad(nowDay.getDate());        // 추가한 열에 날짜 입력
            nowColumn.appendChild(newDIV);

            if (nowDay.getDay() == 6) {                 // 토요일인 경우
                nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
            }

            if (nowDay < today) {                       // 지난날인 경우
                newDIV.className = "pastDay";
            }
            else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
                newDIV.className = "today";
                newDIV.onclick = function () { choiceDate(this); }
            }
            else {                                      // 미래인 경우
                newDIV.className = "futureDay";
                newDIV.onclick = function () { choiceDate(this); }
            }
        }
    }

    // 날짜 선택
    function choiceDate(newDIV) {
        if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
            document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
        }
        newDIV.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가

        let selectedDate = document.getElementById("selectedDate");
        let year = nowMonth.getFullYear();
        let month = leftPad(nowMonth.getMonth() + 1);
        let day = newDIV.textContent;

        let formattedDate = `${year}-${month}-${day}`;
        selectedDate.textContent = formattedDate;

        console.log(formattedDate);
        // Update the value of the user_date element
        document.getElementById('detail_user_date').value = formattedDate;

        setCookie("selected_date", formattedDate, 1);
        localStorage.setItem("selected_date", formattedDate);


        location.reload();
    }

    // 이전달 버튼 클릭
    function prevCalendar() {
        nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
        buildCalendar();    // 달력 다시 생성
    }
    // 다음달 버튼 클릭
    function nextCalendar() {
        nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
        buildCalendar();    // 달력 다시 생성
    }

    // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
    function leftPad(value) {
        if (value < 10) {
            value = "0" + value;
            return value;
        }
        return value;
    }

    //  달력 끝

    function setUserDateValue() {
        const storedDate = localStorage.getItem("selected_date");
        if (storedDate) {
            document.getElementById('detail_user_date').value = storedDate;
        }
    }
    function restoreSelectedDate() {
        let selectedDateElem = document.getElementById("selectedDate");
        let storedSelectedDate = getCookie("selected_date");

        if (storedSelectedDate) {
            selectedDateElem.textContent = storedSelectedDate;
        }
    }
    function restoreSelectedDate2() {
        let selectedDateElem = document.getElementById("selectedDate");
        // 로컬 스토리지에서 선택한 날짜 가져오기
        let storedSelectedDate = localStorage.getItem("selected_date");

        if (storedSelectedDate) {
            selectedDateElem.textContent = storedSelectedDate;
        }
    }

    // 달력 title에 상호명 띄우고 클릭한 업체 배경색 변경
    // 시간선택 -> 다음 버튼 나타나게
    document.addEventListener('DOMContentLoaded', function () {
        // restoreSelectedDate();
        restoreSelectedDate2();
        setUserDateValue();

        let timeItems = document.querySelectorAll('[class^="time-item-"]');
        let nextButton = document.getElementById('next-button');

        document.querySelectorAll('.store-table').forEach(function (storeTable) {
            storeTable.addEventListener('click', function () {
                const storeName = storeTable.querySelector('.st-name');
                const storeId = storeTable.querySelector('.st-id');
                document.getElementById('selected-store').innerText = storeName.innerText;
                document.getElementById('selected_store').innerText = storeId.innerText;
                const storeIdNumber = parseInt(storeId.innerText, 10);
                console.log(storeIdNumber);
                document.getElementById('selected_store2').value = storeIdNumber;

                document.querySelectorAll('.store-table').forEach(function (others) {
                    if (others !== storeTable) {
                        others.classList.remove('selected');

                        // otherItem 확인 및 제거
                        others.querySelectorAll('[class^="time-item-"]').forEach(function (otherItem) {
                            otherItem.classList.remove('green');
                        });
                    }
                });

                storeTable.classList.add('selected');
                updateNextButton();
            });
        });

        function updateNextButton() {
            let hasGreen = Array.from(timeItems).some(
                (item) => item.classList.contains('green')
            );

            if (hasGreen) {
                nextButton.style.display = 'block';
            } else {
                nextButton.style.display = 'none';
            }
        }

        timeItems.forEach(function (item) {
            item.addEventListener('click', function () {
                const selectedTime = this.getAttribute('data-time');
                document.getElementById('detail_user_time').value = selectedTime;
                timeItems.forEach(function (otherItem) {
                    if (otherItem.closest('.store-table.selected') !== null) {
                        if (otherItem !== item) {
                            otherItem.classList.remove('green');
                        }
                    }
                });

                item.classList.toggle('green');
                updateNextButton();
            });
        });

        updateNextButton();

        let selectedDateElement = document.getElementById("selectedDate");
        let sDate = selectedDateElement.textContent;
        let selectedIdElement = document.getElementById("selected_store");
        let sId = selectedIdElement.value;
        console.log('sDate:', sDate);
        // console.log('sId:', selectedIdElement);
        // console.log('sId:', sId);

        const storeData = JSON.parse('{{ store_data_json|escapejs|safe }}');
        // console.log(storeData)
        function findStoreDates(storeId) {
            let companyDates = [];

            for (let i = 0; i < storeData.length; i++) {
                if (storeData[i].store_id === storeId) {
                    companyDates = JSON.parse(storeData[i].store_dates_json);
                    break;
                }
            }

            return companyDates;
        }

        function updateDisabledTimes(storeId, selectedDate) {
            let companyDates = findStoreDates(storeId);
            // console.log(companyDates);
            let disableTimes = [];

            for (let i = 0; i < companyDates.length; i++) {
                if (companyDates[i].user_date && companyDates[i].user_date.includes(selectedDate)) {
                    disableTimes = disableTimes.concat(JSON.parse(companyDates[i].disable_time));
                }
            }

            // Remove duplicates from disableTimes
            disableTimes = [...new Set(disableTimes)];

            // Select the time buttons using the storeId and selectedDate
            const timeButtons = document.querySelectorAll(`.time-item-${storeId}, .time-item-${selectedDate}`);

            // Loop through timeButtons and disable or enable them based on disableTimes
            for (let i = 0; i < timeButtons.length; i++) {
                const buttonTime = timeButtons[i].getAttribute("data-time");
                if (disableTimes.includes(buttonTime)) {
                    timeButtons[i].disabled = true;
                } else {
                    timeButtons[i].disabled = false;
                }
            }

            console.log("disableTimes:", disableTimes);
        }

        // updateDisabledTimes(3, selectedDate);
        function getAllStoreIds(storeData) {
            let storeIds = [];

            for (let i = 0; i < storeData.length; i++) {
                const storeId = storeData[i].store_id;
                storeIds.push(storeId);
            }

            return storeIds;
        }

        // 상점 ID 목록 가져오기
        const allStoreIds = getAllStoreIds(storeData);
        console.log(allStoreIds);
        // 각 상점 ID에 대해 updateDisabledTimes() 함수 호출하기
        for (let i = 0; i < allStoreIds.length; i++) {
            const storeId = allStoreIds[i];
            updateDisabledTimes(storeId, sDate);
        }
    });






    // 날짜 선택안하면 alert 띄우기
    function checkSelectedDate() {
        const selectedDate = document.getElementsByClassName("choiceDay");
        if (selectedDate.length === 0) {
            alert("날짜를 선택해주세요.");
        } else {
            // 사용자가 선택한 날짜에 대한 처리를 여기에서 수행하세요.
        }
    }
</script>
{% endautoescape %}