{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  {% block style %}{% endblock style %}
  <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}?after"> -->
  <link rel="stylesheet" href="{% static 'css/sujung_base.css' %}">

  <!-- title -->
  <title>{% block title %}Document{% endblock %}</title>
</head>
<body>

  <!-- navbar 영역 -->
  


  <!-- 각 페이지의 컨텐츠 영역 -->
    {% block container %}
    {% endblock %}
  
  <!-- footer 영역 -->
    {% include "footer.html" %}
  </section>
</body>
</html>
{% include "js/sujung_base_js.html" %}
