<footer class="footer-wrap">
    <ul class="infos wrapper-small">
        <li class="info">
            <div class="title">사업자 등록번호</div>
            <div class="desc">사업자등록번호 : 000-00-00000<br>통신판매업 신고번호 :<br>제 0-0--서울-0000호</div>
        </li>
        <li class="info">
            <div class="title">CONTACT</div>
            <div class="desc">
                <p><a href="mailto:00000@gmail.com">00000@gmail.com</a><br>박성우</p>
                <p><a href="mailto:00000@gmail.com">00000@gmail.com</a><br>백수정</p>
            </div>
        </li>
        <li class="info">
            <div class="title">CONTACT HOURS</div>
            <div class="desc">
                <p>Mon, Sun: 09:00-19:00</p>
            </div>
        </li>
    </ul>
</footer><!-- footer-wrap -->

<footer class="copy-wrap">
    <div class="wrapper-small clear">
        <div class="copyright">
            &copy;Copyright 
            - <a href="" target="#">2023. CHEGO Co. Ltd.</a> 
            -All rights reserved.
        </div>
        <div class="navis-footer">
            <a href="#">이용약관</a>
            <a href="#">제휴문의</a>
            <a href="#">개인정보처리방침</a>
        </div>
    </div>
</footer>