{% extends 'base.html' %}
{% load static %}

<!-- css -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/listup.css' %}">
{% endblock style %}

<!-- title -->
{% block title %}List up{% endblock %}


{% block container %}
    <section class="md-wrapper">
        <div class="main-wrap">
            <div class="sidebar">
                <div class="filter-bt">
                    <div>정렬기준</div><br>
                    <div>1순위:<br>
                        <button>추천순</button>
                        <button>리뷰많은순</button>
                        <button>리뷰좋은순</button>
                        <button>재예약순</button>
                        <button>낮은가격순</button>
                    </div>
                    <br>
                    <div>2순위:<br>
                        <button>추천순</button>
                        <button>리뷰많은순</button>
                        <button>리뷰좋은순</button>
                        <button>재예약순</button>
                        <button>낮은가격순</button>
                    </div>
                </div>
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="업체명 검색"/>
                </div>
            </div>
            <div class="contents">
                <h1>리스트업</h1>
                <div class="store-list">
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}