<section class="top-wrapper">
  <nav>
      <div class="logo">
          <a href="">LOGO</a>
      </div>
      <div class="top-nav">
          <ul>
              <li><a href="">네비1</a></li>
              <li><a href="">네비2</a></li>
              <li><a href="">네비3</a></li>
              <li><a href="">네비4</a></li>
          </ul>
      </div>
      <div class="login">
          <a href=""><i class="bi bi-person-circle"></i></a>
      </div>
  </nav>
  <header>
      <div class="page-nav">
          <span><a href="">홈</a></span>
          <span><a href="">예약하기</a></span>
          <span><a href="">지역선택</a></span>
          <span><a href="">업체</a></span>
      </div>
  </header>
</section>