<section class="navi-wrapper">
  <div class="fixed-nav">
    <div class="inner">
      <div class="fixed-nav__inner">
        <div class="bt-nav">
          <!-- 위로가기 화살표 아이콘 -->
          <!-- <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.69899 3.08174L7.76441 4.02584L7.75493 4.0258L1.3542 10.4265L0.0117182 9.08405L6.41245 2.68332L8.69707 0.398693L10.0396 1.74118L17.4565 9.15817L16.1159 10.4893L9.66059 4.0339L8.69899 3.08174ZM8.22508 5.69881L10.4911 7.2949L10.5527 21.8672L8.29342 21.8576L8.22508 5.69881Z"
              fill="white" />
          </svg> -->
        </div>
        <div class="fixed-nav__wrapper">
          <div class="fixed-nav__open">
            
          </div>
          <div class="fixed-nav__close">
            <div class="fixed-nav__layout_1">
              <div class="fixed-nav__content1">
                <a href="/" class="fixed-nav__logo">w.</a>
                <div class="fixed-nav__breadcrumb">
                  <strong class="fixed-nav__title ">home</strong>
                </div>
                <div class="fixed-nav__hamburger">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="fixed-nav__layout_2">
              <div class="fixed-nav__content2">
                <div class="fixed-nav__progress">
                  <div class="fixed-nav__bar"></div>
                </div>
                <strong class="fixed-nav__title-section">Home</strong>
                <ul class="fixed-nav__nav">
                  <li>
                    <a class="fixed-nav__item" href="">SOTD</a>
                  </li>
                  <li>
                    <a class="fixed-nav__item" href="">Nominees</a>
                  </li>
                  <li>
                    <a class="fixed-nav__item" href="">Directory</a>
                  </li>
                  <li>
                    <a class="fixed-nav__item" href="">Collections</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>