{% extends 'base.html' %}
{% load static %}

<!-- css -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/reservation.css' %}">
{% endblock style %}

<!-- title -->
{% block title %}Reservation{% endblock %}


{% block container %}
    <section class="md-wrapper">
        <div class="main-wrap">
            <div class="sidebar">
                <div class="filter-bt">
                    <div>업체 전달사항<br><br>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, dignissimos, sed tempore quam et labore dicta sunt saepe quia nisi autem. Ipsa asperiores consequuntur omnis veritatis sed iure architecto praesentium?</span>
                    </div>
                </div>
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="업체명 검색"/>
                </div>
            </div>
            <div class="contents">
                <h1>Reservation</h1>
                <div class="store-list">
                    <div class="store">
                        <div class="st-left"></div>
                        <div class="st-right">
                            <h5>업체명</h5>
                            <h5>주소</h5>
                            <h5>별점/리뷰갯수</h5>
                            <h5>운영시간</h5>
                        </div>
                    </div>
                </div>
                <div class="store-list">
                    <div class="store">
                        <div class="st-right">
                            <h5>예약가능 날짜확인 - 달력</h5>
                        </div>
                    </div>
                </div>
                <form action="#" class="contact-form">
                    <div>예약 양식</div>
                    <div class="form-list">
                        <input type="text" name="name" placeholder="성함">
                    </div>
                    <div class="form-list">
                        <input type="number" name="name" placeholder="인원수">
                    </div>
                    <div class="form-list">
                        <input type="datetime-local" name="name">
                    </div>
                    <div class="form-list">
                        <input type="text" name="name" placeholder="요청사항">
                    </div>
                    <div class="form-list">
                        <button class="bt-send">예약하기</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}