{% extends 'base.html' %}
{% load filters %}
{% load static %}

<!-- css -->
{% block style %}
<link rel="stylesheet" href="{% static 'calendar_app/css/main.css' %}?after">
{% endblock style %}

<!-- title -->
{% block title %}List up{% endblock %}

{% block container %}
<section class="top-wrapper">
    <section class="colorpart top-section">
      <div class="content-container content-theme-dark">
        <div class="content-inner">
          <div class="content-center">
            <h1 class="fancy">CHEGO</h1>
            <p>통합 예약 관리 시스템</p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="colorpart bottom-section">
      <div class="content-container content-theme-light">
        <div class="content-inner">
          <div class="content-center">
            <h1>CHEGO</h1>
            <p>통합 예약 관리 시스템</p>
            
          </div>
        </div>
      </div>
    </section>
    <section class="scroll-text">
      <div class="flow-text">
        <div class="inner-text">
            <span class="left-text">Our</span>
            <span class="right-text">Service</span>
        </div>
        </div>
    </section>
  </section>


<!-- nav -->



<section class="md-wrapper">
  <section class="intro">
    <div class="slider_wrapper">
      <div class="flex_con flex-card1 flex-active" data-slide="1">
        <div class="flex_item flex_item-left">
          <div class="flex_content">
            <p class="text-sub">Strength 1</p>
            <h1 class="text-big">Time Saving</h1>
            <p class="text-normal">기존의 개별 홈페이지 및 인스타그램 등의 접근성이 낮고 번거로운 조회 방식에서 벗어나,<br>가맹점주와 고객 모두 시간절약을 할 수 있는 서비스를 제공합니다.</p>
          </div>
          <p class="text_background">Time</p>
        </div>
        <div class="flex_item flex_item-right"></div>
        <img class="slider_img" src="{% static 'calendar_app/images/clock.png' %}" />
      </div>
      <div class="flex_con flex-card2 animate-start" data-slide="2">
        <div class="flex_item flex_item-left">
          <div class="flex_content">
            <p class="text-sub">Strength 1</p>
            <h1 class="text-big">One-step</h1>
            <p class="text-normal">원스텝 서비스를 통해, 일자별 업체 시간표의 통합 조회가 가능합니다.<br>한 곳에서 모든 가맹점의 시간표 조회부터 예약이 가능합니다.</p>
          </div>
          <p class="text_background">Onestep</p>
        </div>
        <div class="flex_item flex_item-right"></div>
        <img class="slider_img" src="{% static 'calendar_app/images/calendar.png' %}" />
      </div>
      <div class="flex_con flex-card3 animate-start" data-slide="3">
        <div class="flex_item flex_item-left">
          <div class="flex_content">
            <p class="text-sub">Strength 3</p>
            <h1 class="text-big">Efficient</h1>
            <p class="text-normal">업체별 시간표 및 가격비교, 분석을 통해 보다 능률적인 예약시스템을 제공합니다.</p>
          </div>
          <p class="text_background">Efficient</p>
        </div>
        <div class="flex_item flex_item-right"></div>
        <img class="slider_img" src="{% static 'calendar_app/images/folder.png' %}" />
      </div>
    </div>
    <div class="slider_navi">
      <a href="#" class="slide-nav active" data-slide="1">pikachu</a>
      <a href="#" class="slide-nav" data-slide="2">piplup</a>
      <a href="#" class="slide-nav" data-slide="3">blaziken</a>
      <!-- <a href="#" class="slide-nav" data-slide="4">dialga</a>
      <a href="#" class="slide-nav" data-slide="5">zekrom</a> -->
    </div>
  </section>
  <section class="scroll-text2">
    <div class="flow-text2">
      <div class="inner-text">
          <span class="right-text">Try <span>Reserve</span></span>
      </div>
  </div>
  </section>
  <section>
    <div class="guide-wrap wrapper-small">
			<div class="title ani fadeInB">예약방법</div>
			<div class="title ani fadeInB">How To Reserve</div>
			<div class="contents clear">
				<div class="content ani fadeInB"><img src="{% static 'calendar_app/images/reserve1.png' %}"><span>STEP1</span>달력의 날짜를 선택하세요.</div>
				<div class="content ani fadeInB" data-delay="0.3s"><img src="{% static 'calendar_app/images/reserve2.png' %}"><span>STEP2</span>업체를 선택하세요.</div>
				<div class="content ani fadeInB" data-delay="0.6s"><img src="{% static 'calendar_app/images/reserve3.png' %}"><span>STEP3</span>시간을 선택하세요.</div>
				<div class="content ani fadeInB" data-delay="0.9s"><img src="{% static 'calendar_app/images/reserve4.png' %}"><span>STEP4</span>다음버튼을 눌러서 예약자 정보를 입력하시고 예약하기 버튼을 눌러주세요.</div>
			</div>
		</div>
  </section>

  <section class="reservation">
    <div class="reserve-wrap">
      <div class="rs-head" id="pg1">
        <div class="rs-point">
          <h1 class="rs-title">예약하기</h1>
          <div class="rec"></div>
        </div>
        <div class="rs-color">
          <p> </p>
        </div>
      </div>
      <div class="rs-body">
        <div class="rs-tabs">
          <div class="tabs">
            <ul class="active">
              <li><a href="main1.html#pg1">업체리스트</a></li>
            </ul>
            <ul>
              <li><a href="main2.html#pg2">상세페이지</a></li>
            </ul>
            <ul>
              <li><a href="">업체정보</a></li>
            </ul>
            <ul>
              <li><a href="">tab</a></li>
            </ul>
            <ul>
              <li><a href="">tab</a></li>
            </ul>
            <ul>
              <li><a href="">tab</a></li>
            </ul>
          </div>
        </div>
        <div class="rs-list">
          <h1>시간표 조회</h1>
          <div class="scroll box2">
            {% for obj in store_list %}
            <div class="store-table">
              <div class="st-name">
                <div class="st-id">{{ obj.id }}</div>
                {{ obj.store_name }}
              </div>
              <div class="st-time">
                {% for time in store_times_dict|get_item:obj.pk %}
                <button class="time-item-{{ obj.id }}" type="button" data-time="{{ time.reservation_time }}" id="time-style">{{ time.reservation_time}}</button>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <p>STEP1. 달력의 날짜를 선택하세요.</p>
            <p>STEP2. 업체를 선택하세요.</p>
            <p>STEP3. 시간을 선택하세요.</p>
            <p>STEP4. 다음 버튼을 눌러주세요.</p>
            <p>STEP5. 예약자 정보를 입력하시고 예약하기 버튼을 눌러주세요.</p>
          </div>
        </div>
        <div class="rs-date" id="date-display">
          <div class="name" id="selected-store">업체를 선택하세요.</div>
          <div id="mainCalendar">
            <table class="Calendar">
              <thead>
                <tr>
                  <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                  <td colspan="5">
                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                  </td>
                  <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                </tr>
                <tr>
                  <td>일</td>
                  <td>월</td>
                  <td>화</td>
                  <td>수</td>
                  <td>목</td>
                  <td>금</td>
                  <td>토</td>
                </tr>
              </thead>

              <tbody>
              </tbody>
            </table>
          </div>
          <div class="next" id="next-button" style="display: none;">
            <button type="button" class="send-bt" id="send-bt" onclick="toggleTabs();">다음</button>
          </div>
        </div>
        <div class="rs-info" id="info-display" style="display: none;">
          <div class="info">
            <div id="back-btn">&lt;뒤로</div>
            <h1>예약자 정보</h1>
            <div class="user-input">
              <form action="" method="post">{% csrf_token %}
                <span id="selected_store" style="display: none;"></span>
                <input type="hidden" name="selected_store2" id="selected_store2"></input><br>
                <input type="date" name="detail_user_date" id="detail_user_date" style="display: none;">
                <input type="time" name="detail_user_time" id="detail_user_time" style="display: none;">
                <div>
                  <!-- <label for="selectedDate">날짜 : </label><br> -->
                  <span id="selectedDate"></span>
                  <br><br>
                </div>
                <div>
                  <label for="detail_user_name">이름</label><br>
                  <input type="text" name="detail_user_name" id="detail_user_name" class="check-input" required placeholder="홍길동">
                </div>
                <br><br>
                <div>
                  <label for="detail_user_phone">핸드폰 번호</label><br>
                  <input type="text" name="detail_user_phone" id="detail_user_phone" class="check-input" required placeholder="010-1234-1234">
                </div>
                <br><br>
                <div>
                    <label for="u_num">인원수</label><br>
                    <input type="number" name="u_num" id="u_num" class="check-input" required placeholder="1">
                    <span></span>
                  </div>
                <button type="submit" class="booking">예약하기</button>

                <!-- 모달 -->
                <div id="modal">
                  <div class="modal-content">
                    <div class="modal-content-wrap">
                      <div class="modal-header">
                        <p>예약완료</p>
                        <span class="close">&times;</span>
                      </div>
                      <div class="modal-body">
                        <p>예약해주셔서 감사합니다.</p>
                        <p>예약이 정상적으로 접수되었습니다.</p>
                        <p></p>
                      </div>
                      <div class="modal-footer">
                        <p>변경사항이 있으시면 업체에 개별 문의 부탁드립니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 모달 끝 -->

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- js파일 연결 -->
<script>

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function setCookie(name, value, days) {
    const expires = new Date(Date.now() + days * 864e5).toUTCString();
    document.cookie = `${name}=${value}; expires=${expires}; path=/`;
  }

</script>


{% include "calendar_app/js/main_js.html" %} 
{% endblock %}