/* start */

/******************** top-wrapper ********************/
/* 

.colorpart{
  height: 100vh;
  min-height: 500px;
  position: relative;
}


.content-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}
.content-inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
  z-index: 99;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
  pointer-events: all;
}
.content-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.top-section{
  background: linear-gradient(135deg, #C9D5D3 0%,#009476 100%);
}
.bottom-section{
  background: #fff;
}
.colorpart h1{
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.colorpart p,
.colorpart a{
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
}

.content-theme-dark h1{
  color: #009476;
  text-shadow: 0 20px 40px rgba(0,0,0,.5);
}
.content-theme-dark p,
.content-theme-dark a{
  color: #C9D5D3;
}
.content-theme-light h1{
  color:#062930;
  text-shadow: 0 20px 40px rgba(0,0,0,.5);
}
.content-theme-light p,
.content-theme-light a{
  color: #728E93;
} */


/******************** navi-wrap ********************/


section.navi-wrapper {width: 100%; position: relative; z-index: 99;}
section.navi-wrapper .fixed-nav {width: 600px; margin: 0 auto; background-color: #343434;/*  opacity: 70%;  */border-radius: 0.6rem; position: fixed; top: 85%; left: 30vw;}
section.navi-wrapper .fixed-nav .inner {}
.fixed-nav__inner .fixed-nav__wrapper {}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__open {}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__close {display: flex;}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__close .fixed-nav__layout_1 {background-color: #222;/*  opacity: 70%; */ border-radius: 0.6rem; color: white; margin: 0.5rem 0 0.5rem 0.5rem; padding: 0 1rem; position: static; flex: 1; padding: 0.8rem 1rem;}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__close .fixed-nav__layout_1 .fixed-nav__content1 {display: flex; width: 100%;}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__close .fixed-nav__layout_1 a {color: white;}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__close .fixed-nav__layout_2 { width: 100%;/*  display: flex;  */margin: 0.5rem;  width: 100%;}
.fixed-nav__inner .fixed-nav__wrapper .fixed-nav__close .fixed-nav__layout_2 .fixed-nav__content2 {background-color: #3E3E3E;/*  border: 1px solid #fff; */ border-radius: 0.6rem; display: flex;/*  margin: 0.5rem; */}

.fixed-nav__content2 .fixed-nav__title-section {margin: 1rem; color: #fff;}
.fixed-nav__content2 .fixed-nav__nav {display: flex; /* justify-content: space-between; */ margin: 0.2rem; width: 100%; justify-content: space-evenly;}
.fixed-nav__content2 .fixed-nav__nav li {padding: 0.8rem; border: 1px solid #626262; border-radius: 0.6rem;}
.fixed-nav__content2 .fixed-nav__nav li a {color: #fff;}




.fixed-nav__hamburger {position: relative; width: 20px; height: 30px; cursor: pointer;/*  pointer-events: auto; *//*  transition: all .3s */}
.fixed-nav__hamburger div {position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 10px; height: 1px; background-color: #fff;/*  transform: translateZ(0); transition: all .3s */}
.fixed-nav__hamburger div:nth-child(1) {top: -8px}
.fixed-nav__hamburger div:nth-child(3) {top: 8px}

/******************** main-wrap ********************/
.green {background-color: #009476 !important;}
.selected {background-color: #242424; color: #fff}

section.md-wrapper .reservation {width: 80%; margin: 5rem auto; /* background-color: #333; height: 500px; */ border-radius: 1.5rem; position: relative;}
.reservation .reserve-wrap {background-color: #555; border-radius: 1.5rem; /* height: 400px; */}

.reserve-wrap .rs-head {display: flex;}
.rs-head .rs-point {background-color: #009476; width: 8rem; color: #fff;  position: relative; padding: 0.8rem; border-radius: 1.5rem 0 0 0;}
.rs-head .rs-point .rs-title {margin-left: 1rem;}
.rs-head .rec {width: 120px;}
.rs-head .rec::after {content: ""; position: absolute; top: 0; right: -25px; width: 0px; height: 0px; border-left: 25px solid #009476; border-top: 25px solid transparent; border-bottom: 25px solid transparent;}
.reserve-wrap .rs-head .rs-color {background-color: #C9D5D3; width: 100%; border-radius: 0 1.5rem 0 0;}

/* .reserve-wrap .rs-body {display: flex;}
.reserve-wrap .rs-body .rs-tabs {border: 1px solid salmon;}
.reserve-wrap .rs-body .rs-tabs ul {border: 1px solid black; display: flex; flex-direction: column; height: 500px;}
.reserve-wrap .rs-body .rs-tabs ul li {border: 1px solid salmon; margin: auto 2rem;}
.reserve-wrap .rs-body .rs-tabs ul li.active {background-color: #298dff;} */


.reserve-wrap .rs-body {display: flex;}
.reserve-wrap .rs-body .rs-tabs {width: 12%;}
.rs-tabs .tabs {/* border: 1px solid black; */}
.rs-tabs .tabs ul {/* border: 1px solid violet; */ border-bottom: 1px solid #333; display: flex; flex-direction: column; height: 13vh;}
.rs-tabs .tabs ul:last-child {border-bottom: none;}
.rs-tabs .tabs ul.active {background-color: #333;}
.rs-tabs .tabs ul li {margin: auto 1rem; text-align: center;}
.rs-tabs .tabs ul li a {color: #fff; font-weight: bold; font-size: 0.9rem;}


.reserve-wrap .rs-body .rs-list {width: 40%; background-color: #333;}
.rs-list h1 {color: #fff; margin: 1.2rem; text-align: center;}
.rs-list .store-table {width: calc(100% - 2.4rem); border: 1px solid #818181; padding: 1.5rem 0; margin: 1.2rem; color: #fff; border-radius: 1rem; display: flex; }
.rs-list .store-table .st-name {width: 30%; border-right: 1px solid #818181; text-align: center; margin: auto 0;}
.rs-list .store-table .st-name h5 {cursor: pointer;}
.rs-list .store-table .st-time {width: 70%; text-align: center; display: flex; /* justify-content: center; */ flex-wrap: wrap;/*  margin: 0 auto; */ padding: 0 1rem;}
.rs-list .store-table .st-time .time-item {/* margin: 0 1rem; */ cursor: pointer; border: 0; outline: 0; background-color: #333; color: #fff; border: 1px solid #818181; border-radius: 2rem; margin: 0.2rem 1rem; padding: 0.5rem;}
.rs-list .store-table .st-time .time-item:hover {background-color: #009476; color: #fff; border: 1px solid #009476;}


.reserve-wrap .rs-body .rs-date {width: calc(100% - (12% + 40%)); background-color: #242424; margin: 0 0 0 auto; border-radius: 0 0 1.5rem 0; padding-bottom: 2rem;}
.rs-date .name {color: #fff; margin: 1.2rem 1.2rem 2.4rem 1.2rem; text-align: center; font-weight: bold; font-size: 1.2rem;}
.rs-date .next {width: 100%; text-align: center;}
.rs-date .send-bt {cursor: pointer; /* border: 0; */ outline: 0; background-color: #333; color: #fff; border: 1px solid #818181; border-radius: 2rem; margin: 4rem 25% 0 25%; padding: 0.5rem; width: 20%; font-weight: bold;}
.rs-date .send-bt:hover {background-color: #009476; color: #fff; border: 1px solid #009476;}


/********************  ********************/
/********************  ********************/
/********************  ********************/

/******************** 스크롤바 ********************/
.scroll{
  display: inline-block;
  height: 68vh;  
  /* padding: 20px; */
  overflow-y: auto;
  box-sizing: border-box;
  color: white;
  background-color: #333;
}

/* 스크롤바 설정*/
.box2::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.box2::-webkit-scrollbar-thumb{
  background: linear-gradient(#009476, #F5D042);
  border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
.box2::-webkit-scrollbar-track{
  background-color: #575757;
}






/******************** 달력 css ********************/

div#mainCalendar {
  background-color : #555;
  height: auto;
  /* width: 400px; */
  width: 26vw;
  /* margin: 0px; */
  padding: 20px;
  margin: 0 auto;
  border-radius: 1.2rem;
  box-shadow:0px 20px 15px -10px #353535;
  color: #fff;
}

td {
  /* width: 50px;
  height: 50px; */
  width: 3vw;
  height: 3vw;
}

.Calendar {
  text-align: center;
  width: 20vw;
}

.Calendar>thead>tr:first-child>td {
  /* font-family: 'Questrial', sans-serif; */
  font-size: 1.1em;
  font-weight: bold;
  /* position: relative; */
}

.Calendar>thead>tr:last-child>td {
  /* font-family: 'Questrial', sans-serif; */
  /* font-weight: 600;      */
  position: relative;
}

.Calendar>tbody>tr>td>p {
  /* font-family: 'Montserrat', sans-serif; */
  /* height: 45px;
  width: 45px;
  border-radius: 45px;
  line-height: 45px; */
  height: 3vw;
  width: 3vw;
  border-radius: 3vw;
  line-height: 3vw;
  transition-duration: .2s;
  margin: 2.5px;
  display: block;
  text-align: center;
}        

.pastDay {
  color: #343434;
}

.today {
  background-color: #F5D042;            
  color: black;
  /* font-weight: 600; */
  cursor: pointer;
}

.futureDay {
  background-color: #555;
  cursor: pointer;
}
.futureDay:hover{
  background:#eee;
  color: #222;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #009476;
  color: #fff;
  /* font-weight: 600; */
  cursor: pointer;
}

/* .dot {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 4px;
  height: 4px;
  border-radius: 50%;
} */


.date-container {
  position: relative;
}

.circle {
  width: 5px;
  height: 5px;
  background-color: blue;
  border-radius: 50%;
  /* margin: 0 auto; */
  position: absolute;
  /* top: 50%;
  left: 30%; */
  top: 40px;
  left: 20px;
}

.schedule {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  /* margin: 0 auto; */
  position: absolute;
  top: 40px;
  left: 30px;
}



/******************** 반응형 ********************/

@media screen and (max-width: 1199px) {
  section.navi-wrapper .fixed-nav {left: 25%;}
  section.md-wrapper .reservation {width: 90%; margin: 5rem auto;}

  .reserve-wrap .rs-body .rs-tabs {width: 15%;}
  .reserve-wrap .rs-body .rs-list {width: 40%;}
  .reserve-wrap .rs-body .rs-date {width: calc(100% - (15% + 40%))}
  /* .rs-tabs .tabs ul li {margin: auto 1rem; font-size: 0.9rem;} */
  div#mainCalendar {width: 30vw;/*  margin: 0; */}
}

@media screen and (max-width: 991px) {
  section.navi-wrapper .fixed-nav {left: 20%;}
  section.md-wrapper .reservation {width: 90%; margin: 5rem auto;}
  div#mainCalendar {width: 31vw;/*  margin: 0 2.5rem; */}
  .Calendar>tbody>tr>td>p {height: 5vw; line-height: 5vw;}
}

@media screen and (max-width: 767px) {
  div#mainCalendar {width: 33vw;/*  margin: 0 2.5rem; */}
  .Calendar>tbody>tr>td>p {height: 6vw; line-height: 6vw;}
  .rs-list .store-table {padding: 0.5rem 0; margin: 1.2rem;}
  .rs-list .store-table .st-time h5 {margin: 0 0.2rem;}
}

@media screen and (max-width: 575px) {
  .rs-list .store-table {margin: 0.8rem 1.2rem;}
  .Calendar>thead>tr:first-child>td {font-size: 0.8rem;}
  .Calendar>thead>tr:last-child>td {font-size: 0.8rem;}

}

