{% include "manager/test/reconnecting-websocket.html" %}
<script>
  // window.addEventListener("DOMContentLoaded", function() {

  // })


  let userName = "{{ username|escapejs }}";
  // const sendMsg = document.querySelector('.send');
  // sendMsg.addEventListener('click', () => addMessage(textMsg.value));

  const loc = window.location;
  let weStart = "ws://";
  if (loc.protocol === "https:") {
    weStart = "wss://"
  }
  // let endpoint = weStart + loc.host + loc.pathname + loc.search;
  let url = weStart + loc.host + loc.pathname + loc.search;
  // let endpoint;
  // let chatSocket = new ReconnectingWebSocket(url);
  let chatSocket;
  let my_webSockets = {};
  let my_webSockets2 = {};
  let chat_room_name2 = [];

  async function accessAllChannels() {
    await fetchChatRooms();
    const response = await fetch("api/chat-room/user_info");
    const userInfo = await response.json();
    // console.log(userInfo);
    const userNames = userInfo.user_names;
    let updateUserName = userNames.map(function(username){
      return username + "." + userInfo.current_user;
    });
    // console.log(updateUserName);
    const chatrooms = document.querySelector(".chat-box");
    const chatrooms_data = Array.from(chatrooms.children);

    let chat_room_name = [];
    for (let data of chatrooms_data) {
      // console.log("for문 실행 되냐");
      data_value = data.dataset.crm;
      chat_room_name.push(data_value);
    }
    // console.log(chat_room_name);
    for (let name of updateUserName) {
      if (my_webSockets[name]) {
        continue;
      }
      let endpoint = weStart + loc.host + loc.pathname + loc.search + name + "/";
      chatSocket = new ReconnectingWebSocket(endpoint);
      my_webSockets[name] = chatSocket;

      chatSocket.onopen = function (e) {
        // console.log(chatSocket.url);
        console.log(endpoint);
        console.log('Chat socket opened successfully' + name);
        chatRoomHandler(name);
      };

      // chatSocket.onmessage = function (e) {
      //   let data = JSON.parse(e.data);
      //   console.log("Message received on " + name + ": ", data);
      // };
    }
    // console.log(my_webSockets);
  }
  accessAllChannels();



  function checkScreen(message_id) {

    document.addEventListener("visibilitychange", function () {
      if (document.hidden) {
        // console.log("안 보는 중.");
      } else {
        // console.log("보는 중.");
        if (chatSocket.readyState === WebSocket.OPEN) {
          chatSocket.send(JSON.stringify({
            "command": "real_time_new_message",
            "message_id": message_id,
          }));
        }
      }
    });
  }

  function chatRoomOnMessage() {
    chatSocket.onmessage = function (e) {
      pass;
    }
  }


  function msg_count_none(element) {
    element.style.display = "none";
  }
  function msg_count_block(element) {
    element.style.display = "block";
  }

  const textMsg = document.querySelector('.text-input');


  // 채팅 목록 조회
  async function fetchChatRooms() {
    const response = await fetch("api/chat-room/");  // 채팅방 목록을 반환하는 URL로 수정해주세요.
    const chatrooms = await response.json();
    console.log("챗룸", chatrooms);
    const chatroomList = document.querySelector(".chat-box");
    // const chatroomList = document.querySelectorAll(".chat-box");
    // console.log("챗룸리스트", chatroomList);

    for (let chatroom of chatrooms) {
      let chatroom_sender = [];
      // chat_room_name.push(chatroom.chatroom.split("."));
      chatroom_sender.push(chatroom.chatroom.split("."));
      // console.log("챗룸센더",chatroom_sender);
      let chat = document.createElement("div");
      chat.dataset.crm = chatroom.chatroom;
      chat.className = "chat";
      let boxOne = document.createElement("div");
      boxOne.className = "box-one";
      let profilePic = document.createElement("div");
      profilePic.className = "profile-pic";
      let profilePicImg = document.createElement("img");
      profilePicImg.className = "contact-pic";
      profilePicImg.alt = "contact picture";
      profilePicImg.src = "https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      let profilePicSpan = document.createElement("span");
      profilePicSpan.className = "online";
      let descripTion = document.createElement("div");
      descripTion.className = "description";
      let descriptionName = document.createElement("span");
      descriptionName.className = "name";
      descriptionName.textContent = chatroom_sender[0][0];
      let descripTionText = document.createElement("span");
      descripTionText.className = "text";
      descripTionText.textContent = chatroom.recent_content;
      let info = document.createElement("div");
      info.className = "info";
      let infoTime = document.createElement("span");
      infoTime.className = "time";
      infoTime.textContent = chatroom.timestamp;
      let infoMsgCount = document.createElement("span");
      infoMsgCount.className = "msg-count";
      if (chatroom.unread_messages !== 0) {
        msg_count_block(infoMsgCount);
        infoMsgCount.textContent = chatroom.unread_messages;
      } else {
        infoMsgCount.textContent = "";
      }


      chatroomList.appendChild(chat);
      chat.appendChild(boxOne);
      boxOne.appendChild(profilePic);
      profilePic.appendChild(profilePicImg);
      profilePic.appendChild(profilePicSpan);
      boxOne.appendChild(descripTion);
      descripTion.appendChild(descriptionName);
      descripTion.appendChild(descripTionText);
      chat.appendChild(info);
      info.appendChild(infoTime);
      info.appendChild(infoMsgCount);


      chat.addEventListener('click', function () {  // 클릭 이벤트 리스너 추가
        // console.log();

        const chatName = this.querySelector(".name").textContent;
        const headerChatName = document.querySelector(".chat-room-header .box-one .description .name");
        const headerChatImg = document.querySelector(".chat-room-header .box-one .profile-pic img");
        headerChatName.textContent = chatName;
        headerChatImg.src = profilePicImg.src;
        let roomName = this.dataset.crm;


        enterChatRoom(roomName);  // 채팅방 접속
        msg_count_none(infoMsgCount);

      });
    }
  }
  // fetchChatRooms();

  async function chatRoomHandler(chatroom) {
    const chatSocket = my_webSockets[chatroom];
    const chatroomList = document.querySelector(".chat-box");
    // console.log("챗핸들러", unReadMsg);
    if (chatSocket) {
      chatSocket.addEventListener('message', async function (e) {

        // const response = await fetch(`api/chat-room/${chatroom}`);
        // const response2 = await response.json();
        // console.log("챗룸 핸들러 작동 되냐");
        const data = JSON.parse(e.data);
        console.log(data);
        let unReadMsg = data["message"].unread_count;
        // console.log("안읽메",unReadMsg);
        const chatroomElement = document.querySelector(`.chat-box > [data-crm="${chatroom}"]`);
        // console.log(chatroomElement);
        
        if (chatroomElement) {
          let infoMsgCount = chatroomElement.querySelector('.info .msg-count');
          console.log("이프 트루");
          if (unReadMsg !== 0) {
            // console.log("여기까지 오긴오니");
            msg_count_block(infoMsgCount);
            infoMsgCount.textContent = unReadMsg;
          }
          // console.log("라스트메세지",data.lates_message);
          if (data.lates_message) {
            const descripTionText = chatroomElement.querySelector('.description .text');
            descripTionText.textContent = data.lates_message.content;
            const chatTime = chatroomElement.querySelector(".info .time");
            chatTime.textContent = data.lates_message.timestamp;
          }
          const parentElement = chatroomElement.parentElement;
          parentElement.insertBefore(chatroomElement, parentElement.firstChild);
          // if()
        } else {
          console.log("이벤트 핸들링 엘스출력");
          let chat = document.createElement("div");
          chat.dataset.crm = data["message"].chatroom;
          chat.className = "chat";
          let boxOne = document.createElement("div");
          boxOne.className = "box-one";
          let profilePic = document.createElement("div");
          profilePic.className = "profile-pic";
          let profilePicImg = document.createElement("img");
          profilePicImg.className = "contact-pic";
          profilePicImg.alt = "contact picture";
          profilePicImg.src = "https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
          let profilePicSpan = document.createElement("span");
          profilePicSpan.className = "online";
          let descripTion = document.createElement("div");
          descripTion.className = "description";
          let descriptionName = document.createElement("span");
          descriptionName.className = "name";
          descriptionName.textContent = data["message"].author;
          let descripTionText = document.createElement("span");
          descripTionText.className = "text";
          descripTionText.textContent = data["lates_message"].content;
          let info = document.createElement("div");
          info.className = "info";
          let infoTime = document.createElement("span");
          infoTime.className = "time";
          infoTime.textContent = data["lates_message"].timestamp;
          let infoMsgCount = document.createElement("span");
          infoMsgCount.className = "msg-count";
          if (data["message"].unread_count !== 0) {
            msg_count_block(infoMsgCount);
            infoMsgCount.textContent = data["message"].unread_count;
          } else {
            infoMsgCount.textContent = "";
          }
          chatroomList.appendChild(chat);
          chat.appendChild(boxOne);
          boxOne.appendChild(profilePic);
          profilePic.appendChild(profilePicImg);
          profilePic.appendChild(profilePicSpan);
          boxOne.appendChild(descripTion);
          descripTion.appendChild(descriptionName);
          descripTion.appendChild(descripTionText);
          chat.appendChild(info);
          info.appendChild(infoTime);
          info.appendChild(infoMsgCount);

          const chatroomElement2 = document.querySelector(`.chat-box > [data-crm="${chatroom}"]`);
          const parentElement = chatroomElement2.parentElement;
          parentElement.insertBefore(chatroomElement2, parentElement.firstChild);

          chat.addEventListener('click', function () {  // 클릭 이벤트 리스너 추가
            
            const chatName = this.querySelector(".name").textContent;
            const headerChatName = document.querySelector(".chat-room-header .box-one .description .name");
            const headerChatImg = document.querySelector(".chat-room-header .box-one .profile-pic img");
            headerChatName.textContent = chatName;
            headerChatImg.src = profilePicImg.src;
            let roomName = this.dataset.crm;


            enterChatRoom(roomName);  // 채팅방 접속
            msg_count_none(infoMsgCount);

          });
        }
        
      });
      // chatSocket.onmessage = async function (e) {
      // };
    }
  }

  let previousChatRoom = null;
  let currentChatRoom = null;
  let userHasScrolled = false;
  let scrollEventHandler = null;
  let eventListeners = {};

  async function enterChatRoom(chatroom) {

    if (currentChatRoom === chatroom) {
      return;
    }
    // console.log("엔터챗 시작");
    userHasScrolled = false;

    if (previousChatRoom && eventListeners[previousChatRoom]) {
      my_webSockets[previousChatRoom].removeEventListener("message", eventListeners[previousChatRoom]);
    }

    previousChatRoom = currentChatRoom;
    currentChatRoom = chatroom;
    // const element = chatroom.target;
    // console.log(element);

    // console.log(chatroom.firstChild);
    // const response = await fetch(`api/chat-room/${chatroom}`);
    // const messages = await response.json();
    // console.log(messages);
    const messagesRoom = document.querySelector("#messages-room");
    messagesRoom.dataset.crm = chatroom;
    // console.log("정의됐어?", messagesRoom.dataset.crm);
    while (messagesRoom.firstChild) {
      messagesRoom.removeChild(messagesRoom.firstChild);
    }

    if (scrollEventHandler) {
      messagesRoom.removeEventListener("scroll", scrollEventHandler);
    }

    // if (chatSocket) {
    //   console.log("기존 연결 끊김");
    //   chatSocket.close();
    // }

    // endpoint = weStart + loc.host + loc.pathname + loc.search + chatroom + "/";
    // const endpoint = weStart + loc.host + loc.pathname + loc.search;
    // chatSocket = new ReconnectingWebSocket(endpoint);

    // chatSocket.onopen = function (e) {
    //   console.log(chatSocket.url);
    //   console.log('Chat socket opened successfully');
    // };

    // console.log("여기까지는 오냐?");
    let page_number = 1;

    async function loadMessages() {
      // console.log("로드메세지 실행 되냐");
      // if(!userHasScrolled){
      //   return;
      // }
      const loadPoint = await fetch(`api/chat-room/${chatroom}/messages?page_number=${page_number}`);
      const loadPoint2 = await loadPoint.json();
      // console.log(loadPoint2);
      const loadMsg = loadPoint2.messages;
      const loadMsgUnRead = loadPoint2.unread_messages;
      console.log(loadMsg);
      // console.log("로드 되냐");

      if (loadMsg.length === 0) {
        return null;
      }
      let msgHeight = 0;
      for (let chat of loadMsg) {
        let messageBox = document.createElement("div");
        let messageBoxPtag = document.createElement("p");
        let messageBoxSpan = document.createElement("span");

        messageBoxSpan.className = "msg-time";
        // 메시지 내용을 p 태그에 추가합니다.
        messageBoxPtag.textContent = chat.content;
        messageBoxSpan.textContent = chat.timestamp;

        if (chat.author >= 2) {
          messageBox.className = "contact-msg msg-box";
          messageBoxPtag.className = "contact msg";
        } else {
          messageBox.className = "user-msg msg-box";
          messageBoxPtag.className = "user msg";
        }

        // messagesRoom.appendChild(messageBox);
        messagesRoom.insertBefore(messageBox, messagesRoom.firstChild);
        messageBox.appendChild(messageBoxPtag);
        messageBox.appendChild(messageBoxSpan);

        msgHeight += messageBox.offsetHeight;
        const chatroomElement = document.querySelector(`.chat-box > [data-crm="${chatroom}"]`);
        const infoMsgCount = chatroomElement.querySelector(".info > .msg-count");
        // console.log(infoMsgCount);
        if (infoMsgCount.style.display = "block" && infoMsgCount.textContent) {
          // console.log("로드메세지 조건");
          let intervalId = setInterval(() => {
            if (chatSocket.readyState === WebSocket.OPEN) {
              chatSocket.send(JSON.stringify({
                "command": "mark_as_read",
                "message_id": chat.id,
              }));

              clearInterval(intervalId);
            }
          }, 100);

        }
      }

      // messagesRoom.scrollTop = messagesRoom.scrollHeight;
      return msgHeight;
    }
    const msgHeight2 = await loadMessages();
    plusPageNumber(msgHeight2);
    scrollDown(msgHeight2);

    // msgRoom3.scrollTop = msgRoom3.scrollHeight;

    // loadMessages();



    async function plusPageNumber(msgHeight2) {
      // await loadMessages();
      if (scrollEventHandler) {
        messagesRoom.removeEventListener("scroll", scrollEventHandler);
      }
      scrollEventHandler = async function () {
        userHasScrolled = true;
        if (messagesRoom.scrollTop === 0) {
          page_number += 1;
          const newmsgHeight = await loadMessages();
          if (newmsgHeight === null) {
            messagesRoom.removeEventListener("scroll", scrollEventHandler);
            return;
          }
          messagesRoom.scrollTop = newmsgHeight;
          // scrollDown();
        }
      }
      messagesRoom.addEventListener("scroll", scrollEventHandler);
    }

    async function scrollDown(msgHeight2) {
      if (msgHeight2 != null) {
        messagesRoom.scrollTop = messagesRoom.scrollHeight;
      }
      // console.log("스크롤 아래 실행 됐니");
    }

    // scrollDown();
    // plusPageNumber();

    // async function scrollDown() {
    //   await loadMessages();
    //   if(!userHasScrolled){
    //     messagesRoom.scrollTop = messagesRoom.scrollHeight;
    //   }
    //   console.log("스크롤 아래 실행 됐니");
    // }
    // async function scrollDown() {
    //   const msgHeight = await loadMessages();
    //   if(msgHeight != null){
    //     messagesRoom.scrollTop = messagesRoom.scrollHeight - msgHeight;
    //   }
    //   console.log("스크롤 아래 실행 됐니");
    // }



    // console.log(userName);
    // currentChatRoom = chatroom;
    const chatSocket = my_webSockets[currentChatRoom];
    // console.log(chatSocket);



    function onMessage(e) {
      console.log("메시지 리스너 시작");
      const data = JSON.parse(e.data);
      console.log(data);
      const message = data["message"];
      const receivedChatRoom = message.chatroom;
      // console.log(receivedChatRoom);
      // console.log(currentChatRoom);
      if (receivedChatRoom !== currentChatRoom) {
        return;
      }
      // console.log("연결 잘 됐냐", chatSocket.url);
      // console.log("엔터데이터", data);
      const author = message["author"];
      const message_id = message["id"];
      // console.log(author);
      // const messageRoom2 = document.createElement("div");
      const msgBox = document.createElement("div");
      const msgBoxPtag = document.createElement("p");
      const msgBoxSpan = document.createElement("span");
      msgBoxSpan.className = "msg-time";
      msgBoxPtag.textContent = message.content;
      msgBoxSpan.textContent = message.timestamp;


      if (author == userName) {
        msgBox.className = "user-msg msg-box";
        msgBoxPtag.className = "user msg";
      } else {
        msgBox.className = "contact-msg msg-box";
        msgBoxPtag.className = "contact msg";
        checkScreen(message_id);
      }
      // document.querySelector('#chat-log').value += (data.message + '\n');
      messagesRoom.appendChild(msgBox);
      msgBox.appendChild(msgBoxPtag);
      msgBox.appendChild(msgBoxSpan);


      setTimeout(function () {

        // console.log('scrollTop:', messagesRoom.scrollTop);
        // console.log('scrollHeight:', messagesRoom.scrollHeight);
        // console.log('clientHeight:', messagesRoom.clientHeight);
        // 빡센 계산
        // const isScrolledToBottom = Math.round(messagesRoom.scrollHeight) - Math.round(messagesRoom.clientHeight) <= Math.round(messagesRoom.scrollTop) + 1;
        // 유연한 계산
        const isScrolledToBottom = Math.abs((messagesRoom.scrollTop + messagesRoom.clientHeight) - messagesRoom.scrollHeight) < 5;
        console.log('isScrolledToBottom:', isScrolledToBottom);
        if (isScrolledToBottom) {
          messagesRoom.scrollTop = messagesRoom.scrollHeight;
        }
        // messagesRoom.scrollTop = messagesRoom.scrollHeight;
      }, 0);
      // dataset.crm
      const chatroomElement = document.querySelector(`#chat-msg-room > [data-crm='${chatroom}']`);
      const chatroomCRM = chatroomElement.dataset.crm;
      if (chatroomElement) {
        // console.log("chatroomElement", chatroomElement);
        if (chatroomCRM === receivedChatRoom && message && !document.hidden) {
          if (chatSocket.readyState === WebSocket.OPEN) {
            chatSocket.send(JSON.stringify({
              "command": "real_time_new_message",
              "message_id": message_id,
            }));
          }
        }

      }
      // if()

    }

    // chatSocket.addEventListener("message", function (e) {
    //   console.log("이벤트 리스너가 호출됨");
    //   onMessage(e);
    // });


    if (!chatSocket) {
      console.error('No WebSocket for chatroom: ' + chatroom);
      return;
    }



    // chatSocket.removeEventListener("message", onMessage);
    my_webSockets[currentChatRoom].addEventListener("message", onMessage);
    eventListeners[currentChatRoom] = onMessage;


    // chatSocket.onmessage = function (e) {
    // };

    chatSocket.onclose = function (e) {
      console.error(chatSocket.url);
      console.error('Chat socket closed unexpectedly');
    };

    MessageSendShortcut();
  }

  function addMessage(text) {
    const messageContainer = document.querySelector('#messages-room');
    messageContainer.insertAdjacentHTML(
      'beforeend',
      `<div class="user-msg msg-box">
        <p class="user msg">${text}</p>
        <span class="msg-time" style="margin-right: 10px;">12:45PM</span>
    </div>`
    )
    textMsg.value = '';
    setTimeout(addReply, 2000);
    console.log(messageContainer.lastElementChild)
    scrollChatTo()
  }

  function addReply() {
    const messageContainer = document.querySelector('#messages-room');
    messageContainer.insertAdjacentHTML(
      'beforeend',
      `<div class="contact-msg msg-box">
        <p class="contact msg">
            Hey, Marshall! How are you? Can you please change the
            color theme of the website to pink and purple?
        </p>
        <p class="contact msg">Send me the files please.</p>
        <span class="msg-time">12:45PM</span>
    </div>`
    )
    console.log(messageContainer.lastElementChild)
    scrollChatTo()

  }

  const searchInput = document.querySelector('.search-input');
  searchInput.addEventListener('input', () => searchContact(searchInput.value))
  const chatRoom = document.getElementById('chat-room')

  const chats = document.querySelectorAll('.chat');
  const chatBox = document.querySelector('.chat-box');

  //search for contact
  function searchContact(value) {
    chats.forEach(chat => {
      chat.classList.add('hide');
      if (chat.id.toLocaleLowerCase().startsWith(value)
        || chat.id.toLocaleUpperCase().startsWith(value)) {
        chat.classList.remove('hide');
      }
    })
  }

  const msgRoom3 = document.getElementById('messages-room');
  // msgRoom3.scrollTop = msgRoom3.scrollHeight;
  // document.addEventListener('load', scrollChatTo)

  //automatic scrolling in the chat room

  function scrollChatTo() {
    msgRoom3.scrollTop = msgRoom3.scrollHeight;
    console.log("스크롤챗투");
  }
  const chatList = document.getElementById('chat-list');

  const collapsedNav = document.querySelector('.collapse-nav-items');
  const setting = document.getElementById('setting');
  // const backToChatBtn = document.querySelector('.back-icon');

  collapsedNav.addEventListener('click', showSetting)

  //function to toggle settings
  function showSetting() {
    chatList.classList.add('hide');

    setting.classList.remove('hide');
  }

  // backToChatBtn.addEventListener('click', goBackToChat)

  //function to go back to chat 
  function goBackToChat() {
    setting.classList.add('hide');
    chatList.classList.remove('hide');
    window.innerWidth < 1210 && chatBox.addEventListener('click', showChatRoom);
  }

  const goBackIcon = document.querySelector('.go-back-icon');

  // a feature that should only occur at a particular width
  // window.innerWidth < 1210 && chatBox.addEventListener('click', showChatRoom);
  // window > 1210 && chatBox.removeEventListener('click', showChatRoom);

  // window.innerWidth < 1210 && goBackIcon.addEventListener('click', showChatList);
  // window.innerWidth > 1210 && goBackIcon.removeEventListener('click', showChatList)

  function showChatList() {
    document.body.style.backgroundColor = '#161a1d';
    chatList.classList.remove('hide');
    chatRoom.classList.add('hidden');
    setting.classList.add('hide');
  }
  function showChatRoom() {
    document.body.style.backgroundColor = '#0a0908';
    chatRoom.classList.remove('hidden')
    chatList.classList.add('hide');
    setting.classList.add('hide');
    scrollChatTo()
  }
  // a resize function to update & and reposition code incase the brower get resized
  // window.addEventListener('resize', () => {
  //   if (window.innerWidth > 1210) {
  //     document.body.style.backgroundColor = '#161a1d';
  //     chatBox.removeEventListener('click', showChatRoom)
  //     // console.log('chat room can show')
  //   } else {
  //     document.body.style.backgroundColor = '#161a1d';
  //     chatRoom.classList.add('hidden');
  //     chatBox.addEventListener('click', showChatRoom)
  //     goBackIcon.addEventListener('click', showChatList)
  //     //console.log('chat room should not show')
  //   }

  //   if (window.innerWidth <= 650) {
  //     chatList.classList.remove('hide');
  //     collapsedNav.addEventListener('click', showSetting)
  //     // console.log('setting can show')
  //   } else {
  //     setting.classList.add('hide');
  //     chatList.classList.remove('hide')

  //     // console.log('setting should not show')
  //   }
  // })

  function SendMessage() {
    const messageInputDom = document.querySelector('.chat-input-box .text-input');
    const message = messageInputDom.value;
    const currentSocket = my_webSockets[currentChatRoom];
    if (currentSocket && currentSocket.readyState === WebSocket.OPEN) { // Check if WebSocket is in OPEN state
      currentSocket.send(JSON.stringify({
        'command': "new_message",
        'message': message,
        'from': userName,
      }));
      messageInputDom.value = '';
      chatRoomHandler(currentChatRoom);
    } else {
      console.error('WebSocket is not open or no WebSocket for chatroom: ' + currentChatRoom);
    }
  }

  function MessageSendShortcut() {

    document.querySelector('.chat-input-box .text-input').focus();
    document.querySelector('.chat-input-box .text-input').onkeyup = function (e) {
      if (e.keyCode === 13) {  // enter, return
        e.preventDefault();
        // document.querySelector('#chat-message-submit').click();
        SendMessage();
      }
    };
    document.querySelector('.chat-input-box .send').onclick = function (e) {
      SendMessage();
    };


  }


</script>