<script>
	// +버튼 누르면 시작
	let items = Array.prototype.slice.call(document.querySelectorAll("[id^='time-style']"), 0).map(function (obj) { return obj.textContent });
	console.log(items);

	// csrf용 쿠키
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}


	let inputVals = [];
	function handleAddBtnClick(event) {
		let parentElement = event.target.parentNode;

		let addInput = document.createElement("input");
		addInput.setAttribute("type", "time");
		addInput.setAttribute("class", "addinput");

		let checkbt = document.createElement("button");
		checkbt.setAttribute("class", "checkbt"); 
		checkbt.textContent = "확인";

		parentElement.insertBefore(addInput, event.target.nextSibling);
		parentElement.insertBefore(checkbt, addInput.nextSibling);

		event.target.style.display = "none";
			
			checkbt.addEventListener('click', function(event){
				event.preventDefault(); 
				let val=addInput.value;

				if (inputVals.includes(val)) {
					alert("중복된 시간입니다. 다른 시간을 입력해주세요.");
					return;
				}
				
				inputVals.push(val); 

				// Add button의 데이터 속성에서 pk와 store_id 값 가져오기
				let pk = parentElement.dataset.pk;
    			let store_id = parentElement.dataset.storeId;

				console.log("pk값1:",pk);
				console.log("id값1:",store_id);
				console.log("찍어라",parentElement.dataset);


				fetch(`/manager/update/${pk}_${store_id}/`, {
					method: 'POST',
					body: JSON.stringify({ time: val }),
					headers: { 
						'Content-Type': 'application/json',
						'X-CSRFToken': getCookie('csrftoken') // CSRF 토큰 값 추가
					}
				})
				.then(response => response.json())
				.then(data => { console.log(data); /* 성공적으로 응답 받은 후 작업들... */ })
				.catch((error) => { /* console.error('Error:', error); 에러 발생 시 작업들... */ });


				getInputValue(parentElement,checkbt,addInput); 

				// "+" 버튼 추가
				let newAddBtn = document.createElement("button");
				newAddBtn.setAttribute("class", "addbtn");
				newAddBtn.setAttribute("type", "button");
				newAddBtn.textContent = "+";

				parentElement.appendChild(newAddBtn); // 클릭된 버튼의 부모 요소에 새로운 'addbtn' 추가
				// 수정 10.09
				// 클릭된 버튼의 다음 형제 요소인 'newAddBtn'으로 포커스 이동
				newAddBtn.focus();

				// 클릭된 버튼 제거
				checkbt.remove();
				
			});
		}
		console.log("inputVals찍어보기", inputVals)




	document.addEventListener('click', function (event) {
		if (event.target.matches('.addbtn')) {
			handleAddBtnClick(event);

		}
	});



	// document.querySelectorAll('.add_cookies').forEach(function(addButton) {
	// 	addButton.addEventListener('click', function() {
	// 		let pk = this.dataset.pk;
    // 		let store_id = this.dataset.storeId;
	// 		console.log("pk값2:",pk);
	// 		console.log("id값2:",store_id);

	// 		// let inputFields = this.parentNode.querySelectorAll('.addinput');
	// 		let parentElement = this.parentNode;
    //     	let inputFields = parentElement.querySelectorAll('.addinput');
	
	// 		inputFields.forEach(function(inputField) {

	// 			let val = inputField.value;

	// 			if (val) {
	// 				let newButton = document.createElement("button");
	// 				newButton.textContent = val;
					
	// 				this.parentNode.querySelector('#attach_btns').appendChild(newButton);
	// 			}

	// 			fetch(`/manager/update/${pk}_${store_id}/`, {
	// 			method: 'POST',
	// 			headers: {
	// 				'Content-Type': 'application/json',
	// 				// Django의 CSRF 쿠키에서 토큰 값 가져오기
	// 				'X-CSRFToken': getCookie('csrftoken')
	// 			},
	// 			body: JSON.stringify({ time: val })
	// 			})
	// 			.then(response => response.json())
	// 			.then(data => { console.log(data); /* 성공적으로 응답 받은 후 작업들... */ })
	// 			.catch((error) => { console.error('Error:', error); /* 에러 발생 시 작업들... */ });

				
	// 		console.log("인풋값 잘 들어가나? ", val)
	// }.bind(this));
	// });
	// });

	// 2번째
	// document.addEventListener('click', function(event) {
	// 	if (event.target.matches('.add_cookies')) {
	// 		// preventDefault 이거 나중에 삭제하기(오류 보려고 넣음)
	// 		event.preventDefault();
	// 		let parentElement = event.target.parentNode;
	// 		let inputFields = parentElement.querySelectorAll('.addinput');
	// 		console.log("inputFields출력 ", inputFields.length)

	// 		inputFields.forEach(function(inputField) {
	// 			let val = inputField.value;

	// 			if (val) {
	// 				// 새로운 버튼 생성
	// 				let newButton = document.createElement("button");
	// 				newButton.textContent = val;

	// 				// attach_btns 요소 아래에 추가
	// 				parentElement.querySelector('#attach_btns').appendChild(newButton);
	// 			}
	// 		});
	// 	}
	// });

	// 3번째
	// // .add_cookies 버튼 클릭 이벤트
	// document.addEventListener('click', function(event) {
	// 	if (event.target.matches('.add_cookies')) {
	// 		event.preventDefault();
	// 		let inputFields = document.querySelectorAll('.addinput');
			
	// 		inputFields.forEach(function(inputField) {
	// 			let val = inputField.value;

	// 			if (val) {
	// 				// 새로운 버튼 생성
	// 				let newButton = document.createElement("button");
	// 				newButton.textContent = val;

	// 				// attach_btns 요소 아래에 추가
	// 				let parentElement = event.target.parentNode;
	// 				parentElement.querySelector('#attach_btns').appendChild(newButton);
	// 			}
	// 		});
	// 	}
	// });

	// // MutationObserver 설정
	// let observer = new MutationObserver(function(mutations) {
	// 	mutations.forEach(function(mutation) {
	// 		if (mutation.type === 'childList') {
	// 			// .addinput 클래스가 추가된 경우, .add_cookies 버튼 클릭 이벤트 재실행
	// 			let addedNodes = Array.from(mutation.addedNodes);
	// 			addedNodes.forEach(function(node) {
	// 				if (node.matches && node.matches('.addinput')) {
	// 					document.querySelector('.add_cookies').click();
	// 				}
	// 			});
	// 		}
	// 	});
	// });

	// // btnwrap 아이디를 가진 요소의 자식 노드 변경을 감시
	// observer.observe(document.getElementById('btnwrap'), { childList: true });

	// 4번째
	document.addEventListener('click', function(event) {
		if (event.target.matches('.add_cookies')) {
			event.preventDefault();

			// #attach_btns 요소 찾기
			let attachBtnsElement = document.querySelector('#attach_btns');
			
			// 기존에 추가되었던 버튼들 제거
			while (attachBtnsElement.firstChild) {
				attachBtnsElement.removeChild(attachBtnsElement.firstChild);
			}

			// inputVals 배열의 모든 값으로 새로운 버튼 생성
			inputVals.forEach(function(val) {
				let newButton = document.createElement("button");
				newButton.textContent = val;
				attachBtnsElement.appendChild(newButton);
			});
		}
	});





	let inputValues = []; // 입력 값을 저장할 배열

	function getInputValue(parentElement, checkButtonElement,inputElement){
		let val=inputElement.value;
		
		let finishBt=document.createElement('button');
		finishBt.textContent=val; 
		finishBt.id='time-style'; 

		checkButtonElement.style.display='none';
		inputElement.style.display='none';

		items.push(val);
		
		items.sort(function(a,b){ 
			return new Date('1970/01/01 '+ a ) - new Date('1970/01/01 '+ b);
		});

		parentElement.appendChild(finishBt);

		let timeItems=Array.from(parentElement.querySelectorAll("[id^='time-style']"));

		// 화면상의 모든 버튼을 다시 불러와서 시간 순서대로 정렬
		timeItems.sort((a, b) => {
			return new Date(`1970/01/01 ${a.textContent}`) - new Date(`1970/01/01 ${b.textContent}`);
		});

		parentElement.innerHTML = ''; // 부모 요소의 모든 자식 요소를 제거

		for(let i=0; i<timeItems.length; i++){
			parentElement.appendChild(timeItems[i]); // 정렬된 버튼들을 다시 추가
		}

		finishBt.addEventListener('click', function(event){
			inputElement.value=val;
			inputElement.style.display='';
			checkButtonElement.style.display='';
			this.remove();
			
			let index = items.indexOf(this.textContent);
			
			if (index > -1) {
				items.splice(index, 1);
				inputValues.splice(inputValues.indexOf(val), 1); // 추가: inputValues 배열에도 값 제거
			}
			
			console.log(items);
		});
		
		console.log(items);
	}


	function copyItems() {
		let copiedItems = [];
		for (let i = 0; i < items.length; i++) {
			copiedItems.push(items[i]);
		}
		return copiedItems;
	}


	function createButtonsFromItems() {

		let copiedItems = copyItems();

		copiedItems = copiedItems.concat(inputValues);
		console.log("카피아이템 잘들어가나?", copiedItems)

		copiedItems.sort(function (a, b) {
			return a.localeCompare(b);
		});

		let address = document.getElementById('attach_btns');
		let attach = address.parentNode;

		for (let i = 0; i < copiedItems.length; i++) {
			let arrbtn = document.createElement("button");
			arrbtn.textContent = copiedItems[i];

			arrbtn.addEventListener('click', function (event) {
				event.preventDefault();

				let oldTimeInput = document.querySelector('.time-input');

				if (oldTimeInput)
					oldTimeInput.remove();

				let timeInput = document.createElement('input');
				timeInput.setAttribute('type', 'time');
				timeInput.classList.add('time-input');

				timeInput.addEventListener('change', function (e) {
					e.preventDefault();

					let buttons = Array.from(attach.querySelectorAll('button'));

					for (let button of buttons) {
						if (button.textContent === this.value) {
							alert("이미 존재하는 시간입니다.");
							this.style.display = '';
							return;
						}
					}

					arrbtn.textContent = this.value;

					buttons.push(arrbtn);
					buttons.sort((a, b) => {
						return a.textContent.localeCompare(b.textContent);
					});

					attach.innerHTML = '';

					for (let button of buttons) {
						attach.appendChild(button);
					}


					this.remove();
				});

				event.target.parentNode.insertBefore(timeInput, event.target.nextSibling);

			});

			attach.appendChild(arrbtn);

		}
		console.log("복사한 배열값", copiedItems);
		console.log("인풋값", inputValues);

	}
	createButtonsFromItems();


</script>