{% include "manager/js/manager_detail_js.html" %}
<script>
  window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

  let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
  let today = new Date();     // 페이지를 로드한 날짜를 저장
  today.setHours(0, 0, 0, 0);    // 비교 편의를 위해 today의 시간을 초기화
  // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
  const now_year = document.querySelector("#calYear");
  const now_month = document.querySelector("#calMonth");
  let selected_date = document.querySelector("#selected_date");


  function buildCalendar() {
    
    const userDates = JSON.parse('{{ user_dates_json | escapejs | safe }}');
    // console.log("유저 데이터 찍히냐?", userDates);

    let userDates1 = userDates.map(function (date) {
      let parts = date.split("-");
      return parts;
    });
    // console.log("분리 되냐?", userDates);

    let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
    let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

    let tbody_Calendar = document.querySelector(".Calendar > tbody");
    
    now_year.textContent = nowMonth.getFullYear();             // 연도 숫자 갱신
    now_month.textContent = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

    // console.log(document.getElementById("calYear").innerText);
    // console.log(document.getElementById("calMonth").innerText);

    while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
      tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
    }

    let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

    for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
      let nowColumn = nowRow.insertCell();        // 열 추가
    }

    for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

      let nowColumn = nowRow.insertCell();        // 새 열을 추가하고


      let newDIV = document.createElement("p");
      newDIV.innerHTML = leftPad(nowDay.getDate());        // 추가한 열에 날짜 입력

      // console.log(newDIV.innerText);

      // Check if this date is in userDates
      let dateStringArray = [nowDay.getFullYear().toString(), leftPad(nowMonth.getMonth() + 1), leftPad(nowDay.getDate())];

      let rsv_count = countDateOccurrences(userDates, dateStringArray);
      // console.log("Reservation count for " + dateStringArray.join("-") + ": " + rsv_count);
      // let dayOfWeek = nowDay.getDay();

      // // 월요일부터 목요일까지 오른쪽 간격 설정
      // if (dayOfWeek >= 0 && dayOfWeek <= 4) {
      //   nowColumn.style.paddingRight = "10px";
      // }

      // // 금요일 양쪽 간격 설정
      // if (dayOfWeek === 5) {
      //   nowColumn.style.paddingRight = "10px";
      // }

      nowColumn.appendChild(newDIV);

      let newDIV2 = document.createElement("div");
      newDIV2.className = "rsv_check"
      // newDIV2.innerHTML = "되";
      if (rsv_count > 0) {
        // Display the count in newDiv2
        newDIV2.innerHTML = rsv_count;
      } else {
        newDIV2.innerHTML = "";
      }
      nowColumn.appendChild(newDIV2);


      if (nowDay.getDay() == 6) {                 // 토요일인 경우
        nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
      }

      if (nowDay < today) {                       // 지난날인 경우
        newDIV.className = "pastDay";
      }
      else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
        newDIV.className = "today";
        newDIV.onclick = function () { choiceDate(this); }
      }
      else {                                      // 미래인 경우
        newDIV.className = "futureDay";
        newDIV.onclick = function () { choiceDate(this); }
      }
    }
  }

  // 날짜 선택
  function choiceDate(newDIV) {
    if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
      document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
    }
    newDIV.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가
    // selected_date.value = [now_year.textContent, now_month.textContent, newDIV.textContent];

    selected_date_list = [now_year.textContent, now_month.textContent, newDIV.textContent];
    console.log(selected_date);
    
    if (detailSocket.readyState === WebSocket.OPEN){
      detailSocket.send(JSON.stringify({
        "command" : "selected_date",
        "select_date" : selected_date_list,
      }));
    }
  }

  // 이전달 버튼 클릭
  function prevCalendar() {
    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
    buildCalendar();    // 달력 다시 생성
  }
  // 다음달 버튼 클릭
  function nextCalendar() {
    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
    buildCalendar();    // 달력 다시 생성
  }

  // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
  function leftPad(value) {
    if (value < 10) {
      value = "0" + value;
      return value;
    }
    return value;
  }

  // function countDateOccurrences(datesArray, singleDate) {
  //   return datesArray.reduce((rsv_count, date) =>
  //     (date[0] === singleDate[0] && date[1] === singleDate[1] && date[2] === singleDate[2]) ? ++rsv_count : rsv_count, 0
  //   );
  // }

  function countDateOccurrences(datesArray, singleDate) {
    let dateString = singleDate.join('-');
    return datesArray.reduce((rsv_count, date) =>
      (date === dateString) ? ++rsv_count : rsv_count,
      0);
  }
</script>