<script>
  let myPlus = document.getElementById("plus");
  let selectTime = document.getElementById("select_time");
  let box = document.getElementById("plus_box");
  let num = 2

  function validateTime(timeInput) {
    let minValue = timeInput.getAttribute('min');
    let value = timeInput.value;

    if (minValue && value < minValue) {
      alert("시간은 이전 시간 이후로 설정해 주세요.");
      timeInput.value = minValue;
    }
  }

  myPlus.addEventListener("click", function () {
    let newPlus = document.createElement("button");
    let newMinus = document.createElement("button");
    let newLine1 = document.createElement("br");

    let newInput = document.createElement("input");
    let prevInput = document.getElementById("select_time" + (num - 1));

    // console.log(prevInput.value)
    newInput.type = "time";
    newInput.min = prevInput.value;
    // newInput.step = "1800";
    newInput.name = "select_time[]";
    newInput.id = "select_time" + num;

    newInput.onchange = function () {
      validateTime(newInput);
    };

    newPlus.type = "button";
    newPlus.textContent = "추가";
    newPlus.id = "plus" + num;

    newPlus.addEventListener("click", myPlus.click.bind(myPlus));

    newMinus.type = "button";
    newMinus.textContent = "삭제";
    newMinus.id = "minus" + num;

    newMinus.addEventListener("click", function () {
      const idNum = this.id.replace("minus", "");

      const plusToRemove = document.getElementById("plus" + idNum);
      const minusToRemove = document.getElementById("minus" + idNum);
      const newInputRemove = document.getElementById("select_time" + idNum);

      newInputRemove.remove();
      minusToRemove.remove();
      newLine1.remove();
    });

    box.appendChild(newInput);
    box.appendChild(newMinus);
    box.appendChild(newLine1);

    num += 1
  });

</script>