<script>
  // Notification.requestPermission().then(function (permission) {
  //   console.log('Permission:', permission);
  // });
  // new Notification("Hello, world!",{
  //   body : "This is a notification."
  // });

  ntfIcon = document.querySelector(".notification-icon:nth-of-type(2)");
  ntfIcon_count = document.querySelector(".notification-icon:nth-of-type(2) > .num-count");
  modal = document.querySelector("#open-modal");
  function clickReserVaTion() {
    ntfIcon.addEventListener("click", function () {
      console.log("클릭 이벤트 되냐");
      // window.location.hash = "open-modal";
      modal.style.display = "flex";
      ntfIcon_count.style.display = "none";
    });
    window.addEventListener("click", function () {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    })

  }
  clickReserVaTion();

  async function pageStart(socket) {
    let rsvFetch = await fetch("api/reservation_false/");
    let rsvDetailsData = await rsvFetch.json();
    // console.table("콘솔태이블", rsvDetailsData);
    console.log("페이지스타트", rsvDetailsData);
    console.log("페이지스타트", rsvDetailsData.length);
    if (rsvDetailsData.length !== 0) {
      ntfIcon_count.style.display = "flex";
      ntfIcon_count.textContent = rsvDetailsData.length
    }
    rsvNotification(socket, rsvDetailsData);
  }

  async function reserVationDetails(socket, data) {
    // console.log("모달 스크립트");
    let reservationId = data.content;
    // console.log("reserVationDetails", reservationId);
    let rsvFetch = await fetch(`api/reservation_id/${reservationId}`);
    // console.log(rsvFetch);
    let rsvdata2 = await rsvFetch.json();
    // console.log(rsvdata);
    if (rsvdata2.rsv_check !== 0) {
      ntfIcon_count.style.display = "flex";
      ntfIcon_count.textContent = rsvdata2.rsv_check
    }
    rsvNotification(socket, rsvdata2);
  }

  // async function rsvNotification(rsvdata) {

  //   console.log("노티피레져베이션");
  //   const reservation_card = document.querySelector("#reservation-info");
  //   // console.log("rsvdata", rsvdata);


  //   for (let i = 0; i < rsvdata.length; i++) {
  //     let rsvInfo = rsvdata[i];
  //     let card = document.createElement("div");
  //     card.classList.add("card");
  //     console.log("포문1", rsvInfo);
  //     for (let key in rsvInfo) {
  //       console.log("포문2", key);
  //       let cardP = document.createElement("p");
  //       cardP.textContent = `${key} : ${rsvInfo[key]}`;
  //       card.appendChild(cardP);
  //     }
  //     reservation_card.appendChild(card);
  //   }


  // }

  async function rsvNotification(socket, rsvdata) {

    // console.log("노티피레져베이션");
    const reservation_card = document.querySelector("#reservation-info");

    // console.log("배열", rsvdata);
    if (Array.isArray(rsvdata)) {
      console.log("배열", rsvdata);
      
      for (let i = 0; i < rsvdata.length; i++) {
        let rsvInfo = rsvdata[i];
        let card = document.createElement("div");
        card.classList.add("card");
        card.dataset.rid = rsvInfo.id;
        // console.log(rsvInfo);
        console.log("배열로 생성되냐");
        for (let key in rsvInfo) {

          let cardP = document.createElement("p");
          cardP.textContent = `${key} : ${rsvInfo[key]}`;
          card.appendChild(cardP);
        }
        reservation_card.appendChild(card);
        card.addEventListener("click", function () {
          rsvIsRead1(socket, rsvInfo.id);
          this.remove();
        });
      }
    }
    else {
      console.log("객체", rsvdata);


      let card = document.createElement("div");
      card.classList.add("card");
      card.dataset.rid = rsvdata.id;
      for (let key in rsvdata) {

        // console.log("키", key);
        let cardP = document.createElement("p");
        cardP.textContent = `${key} : ${rsvdata[key]}`;
        card.appendChild(cardP);
      }
      reservation_card.appendChild(card);
      card.addEventListener("click", function () {
        rsvIsRead1(socket, rsvdata.id);
        this.remove();
      });
    }
  }

  async function rsvNotiCount() {
    pass;
  }

  function rsv_count_none(element) {
    element.style.display = "none";
  }
  function rsv_count_flex(element) {
    element.style.display = "flex";
  }



  function rsvIsRead1(socket, data) {
    if (socket.readyState === WebSocket.OPEN) {
      socket.send(JSON.stringify({
        "command": "RSV_mark_as_read",
        "rsv_id": data,
      }));

    }
  }
  function rsvIsRead2(element) {
    pass;
  }
</script>