{% include "manager/js/manager_detail_js.html" %}
<script>
  window.onload = function () { buildCalendar(); }    // 웹 페이지가 로드되면 buildCalendar 실행

  let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
  let today = new Date();     // 페이지를 로드한 날짜를 저장
  today.setHours(0, 0, 0, 0);    // 비교 편의를 위해 today의 시간을 초기화
  // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
  const now_year = document.querySelector("#calYear");
  const now_month = document.querySelector("#calMonth");
  let selected_date = document.querySelector("#selected_date");
  let disable_checkbox = document.querySelector(".rocker > input");
  const rsv_start_end = document.querySelector(".rsv_start_end");
  let rsv_start_end_yes = document.querySelector("#rsv_start_end_yes");
  let rsv_start_end_no = document.querySelector("#rsv_start_end_no");
  let choiceDay1 = document.getElementsByClassName("choiceDay");
  let choiceDay2 = document.getElementsByClassName("choiceDay2");
  let d_choiceDay = document.getElementsByClassName("d_choiceDay");
  let disable_date_start = document.querySelector("#disable_date_start");
  let disable_date_end = document.querySelector("#disable_date_end");
  
  let disableStartDate;
  let disableEndDate;
  const rsv_activate = document.querySelector("#rsv_activate");
  console.log(disable_checkbox.checked);

  function buildCalendar() {

    const userDates = JSON.parse('{{ user_dates_json | escapejs | safe }}');
    // console.log("유저 데이터 찍히냐?", userDates);

    let userDates1 = userDates.map(function (date) {
      let parts = date.split("-");
      return parts;
    });
    // console.log("분리 되냐?", userDates);

    let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
    let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

    let tbody_Calendar = document.querySelector(".Calendar > tbody");

    now_year.textContent = nowMonth.getFullYear();             // 연도 숫자 갱신
    now_month.textContent = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

    // console.log(document.getElementById("calYear").innerText);
    // console.log(document.getElementById("calMonth").innerText);

    while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
      tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
    }

    let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

    for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
      let nowColumn = nowRow.insertCell();        // 열 추가
    }

    for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

      let nowColumn = nowRow.insertCell();        // 새 열을 추가하고


      let newDIV = document.createElement("p");
      newDIV.innerHTML = leftPad(nowDay.getDate());        // 추가한 열에 날짜 입력


      let dateStringArray = [nowDay.getFullYear().toString(), leftPad(nowMonth.getMonth() + 1), leftPad(nowDay.getDate())];

      let rsv_count = countDateOccurrences(userDates, dateStringArray);



      nowColumn.appendChild(newDIV);

      let newDIV2 = document.createElement("div");
      newDIV2.className = "rsv_check"

      if (rsv_count > 0) {
        // Display the count in newDiv2
        newDIV2.innerHTML = rsv_count;
      } else {
        newDIV2.innerHTML = "";
      }
      nowColumn.appendChild(newDIV2);


      if (nowDay.getDay() == 6) {                 // 토요일인 경우
        nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
      }

      if (nowDay < today) {                       // 지난날인 경우
        newDIV.className = "pastDay";
      }
      else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
        newDIV.className = "today";
        newDIV.onclick = function () {
          if (disable_checkbox.checked) {
            choiceDate(this);
          } else {
            disableMode_choiceDate(this);
          }
        }
      }
      else {                                      // 미래인 경우
        newDIV.className = "futureDay";
        newDIV.onclick = function () {
          if (disable_checkbox.checked) {
            choiceDate(this);
          } else {
            disableMode_choiceDate(this);
          }
        }
      }
      // disableMode 모드일 때 달력생성
      if (!disable_checkbox.checked) {
        // console.log("false일때 적용 되냐");
        newDIV.classList.add("unchecked");
        rsv_start_end.style.display = "block";
        
        // 시작날짜, 종료날짜가 존재할 때
        
      } else {
        rsv_start_end.style.display = "none";
      }
    }
    // for문 빠져나옴
    if (!disable_checkbox.checked) {
      rsv_activate.style.display = "block";
      // 시작날짜, 종료날짜가 존재할 때
      if(disable_date_start.textContent && disable_date_end.textContent){
          // disableStartDate = new Date(disable_date_start.value);
          // console.log("disableStartDate", disableStartDate);
          // disableEndDate = new Date(disable_date_end.value);
          console.log("둘 다 존재할때");
        } else if (disable_date_start.textContent){
          console.log("if(disable_date_start.valueate)", disable_date_start.textContent);
        }
    }
    // console.log(disable_checkbox.checked);
    // console.log("disable_date_start", disable_date_start.value);
    // console.log("disable_date_end", disable_date_end.value);
    disable_checkbox.addEventListener('change', function () {
      disableMode();
      // location.reload();
    });
  }

  // 날짜 선택
  function choiceDate(newDIV) {
    let choiceDay1_0 = choiceDay1[0];
    let choiceDay2_0 = choiceDay2[0];

    if (choiceDay1_0) {                              // 기존에 선택한 날짜가 있으면
      choiceDay1_0.classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
    }

    newDIV.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가
    selected_date.value = [now_year.textContent, now_month.textContent, newDIV.textContent];
    // console.log(selected_date);


    if (detailSocket.readyState === WebSocket.OPEN) {
      detailSocket.send(JSON.stringify({
        "command": "selected_date",
        "select_date": selected_date.value,
      }));
    }
  }

  function disableMode_choiceDate(newDIV) {
    console.log("disableMode_choiceDate 실행");
    
    let year = nowMonth.getFullYear();
    let month = leftPad(nowMonth.getMonth() + 1);
    let day = newDIV.textContent;
    let disableMode_choice_date = `${year}-${month}-${day}`;

    let disable_choiceDay1_0 = choiceDay1[0];
    let disable_choiceDay2_0 = choiceDay2[0];
    let d_choiceDay_0 = d_choiceDay[0];
    if (rsv_start_end_yes.checked){
      newDIV.classList.add("d_choiceDay");
      // disable_date_start.value = disableMode_choice_date;
      disable_date_start.textContent = disableMode_choice_date;
    } else{
      newDIV.classList.add("choiceDay2");
      // disable_date_end.value = disableMode_choice_date;
      disable_date_end.textContent = disableMode_choice_date;
    }

    if (rsv_start_end_yes.checked && d_choiceDay_0) {                            
      d_choiceDay_0.classList.remove("d_choiceDay");  
    } else if(rsv_start_end_no.checked && disable_choiceDay2_0) {
      disable_choiceDay2_0.classList.remove("choiceDay2");  
    }


  }
  // 이전달 버튼 클릭
  function prevCalendar() {
    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
    buildCalendar();    // 달력 다시 생성
  }
  // 다음달 버튼 클릭
  function nextCalendar() {
    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
    buildCalendar();    // 달력 다시 생성
  }

  // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
  function leftPad(value) {
    if (value < 10) {
      value = "0" + value;
      return value;
    }
    return value;
  }

  // function countDateOccurrences(datesArray, singleDate) {
  //   return datesArray.reduce((rsv_count, date) =>
  //     (date[0] === singleDate[0] && date[1] === singleDate[1] && date[2] === singleDate[2]) ? ++rsv_count : rsv_count, 0
  //   );
  // }

  function countDateOccurrences(datesArray, singleDate) {
    let dateString = singleDate.join('-');
    return datesArray.reduce((rsv_count, date) =>
      (date === dateString) ? ++rsv_count : rsv_count,
      0);
  }



  // disable_checkbox.addEventListener('change', function () {
  //   disableMode();
  // });

  async function disableMode() {

    let unchecked_elements = document.querySelectorAll(".pastDay, .today, .futureDay");
    if (!disable_checkbox.checked) {
      // console.log('Checkbox is not checked');
      // console.log("disableMode 실행");
      rsv_activate.style.display = "block";
      unchecked_elements.forEach(function (element) {
        // console.log(element);
        element.classList.add("unchecked");
        rsv_start_end.style.display = "block";
      });

    }
    else {
      console.log('Checkbox is checked');
      unchecked_elements.forEach(function (element) {
        element.classList.remove("unchecked");
        rsv_start_end.style.display = "none";
      });
      location.reload();
    }
  }
</script>

{% include "manager/js/manager_detail_second_js.html" %}