{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/admin_page/admin_cube.css' %}">
  <title>ADMIN CUBE</title>
</head>

<body>
  <div id="wrap" class="">
    <!-- <div class="bg"></div> -->
    <!-- <div class="bg-animation"></div> -->
    <nav>
      <div class="nav-button">
        <span class="top-position material-symbols-outlined">edit_notifications</span>
      </div>
      <div class="nav-button">
        <span class="bottom-position material-symbols-outlined">manage_search</span>
      </div>
      <div class="nav-button">
        <span class="right-position material-symbols-outlined">add_box</span>
      </div>
      <div class="nav-button">
        <span class="left-position material-symbols-outlined">add_box</span>
      </div>
      <div class="nav-button">
        <span class="front-position material-symbols-outlined">forum</span>
      </div>
      <div class="nav-button">
        <span class="back-position material-symbols-outlined">add_box</span>
      </div>
    </nav>
    <!-- <input type="button" id="resetbutton" value="리셋"></input> -->
    <div id="resetbutton">
      <span class="material-symbols-outlined">token</span>
    </div>

    <div class="canvas">
      <div id="original" class="cube rotate-y">
        <div id="cover" class="side side--x side--forward top-cover">위</div>
        <div id="main-side" class="side side--x side--forward top-main"></div>

        <div id="cover" class="side side--x side--back side--under bottom-cover">
          <div class="cover-name">아래</div>
        </div>
        <div id="main-side" class="side side--x side--back bottom-main"></div>

        <div id="cover" class="side side--y side--forward">오른쪽</div>

        <div id="cover" class="side side--y side--back">왼쪽</div>

        <div id="cover" class="side side--z side--forward">앞</div>
        
        <div id="cover" class="side side--z side--back">뒤</div>

      </div>
    </div>


</body>

</html>


{% include "manager/js/admin_page/bg_animation_js.html" %}
{% include "manager/js/admin_page/admin_cube_js.html" %}