html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size:62.5%;
	font: inherit;
	vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body {
  background: #89909f;
  /* background: #4371c5; */
  /* padding: 3rem 0 0 3rem; */
  /* font-size: 12px; */
  /* margin: 0; */
  /* overflow: hidden; */
}

#wrap{
  width:100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;

}

.site-wrap {
  width:95%;
  height:90%;
  display: grid;
  /* grid-template-columns: 20rem 60rem; */
  grid-template-columns: 18rem 1fr;
  /* grid-template-columns: 0.5fr 1fr; */
}

.site-nav {
  background: #0b121b;
  color: white;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.site-nav {
  /* color: inherit; */
}
.site-nav ul {
  /* margin-bottom: auto; */
}
.site-nav ul li {
  display: block;
  padding: 0.75rem 0.5rem 0.75rem 2rem;
  position: relative;
}
.site-nav ul li a:hover, .site-nav ul li a:focus {
  color: #4371c5;
}
.site-nav ul li.menu-1 > a {
  background: linear-gradient(to right, #101b2d, transparent);
}
.site-nav ul li.menu-1 > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #4676cd;
  width: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-nav ul ul {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.site-nav ul ul a {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.note {
  width: calc(100% - 6rem);
  margin: 2rem;
  background: #171c26;
  border-radius: 10px;
  padding: 1rem;
}
.note h3 {
  font-size: 0.9rem;
  margin: 0 0 0.4rem 0;
}
.note p {
  color: #717783;
}

.name {
  font-size: 1.3rem;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 2.5rem 0.5rem 2rem;
  width: calc(100% - 3rem);
}
.name svg {
  position: absolute;
  fill: white;
  width: 16px;
  height: 16px;
  /* right: 3rem; */
  top: 7px;
}
.name::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #4777ce;
  border-radius: 20px;
  position: absolute;
  top: 6px;
  transform: translateX(0.7rem);
  /* left: 2px; */
}

main {
  /* width:100%; */
  /* height:100%; */
  border-top-left-radius: 2rem;
  background: #ebecee;
  margin-left: -2rem;
  /* position: relative; */
  /* 애니메이션 관련 스타일 추가 */
  animation-name: moveRight; /* 애니메이션 이름 설정 */
  animation-duration: 0.5s; /* 애니메이션 지속 시간 */
  animation-fill-mode: forwards; /* 애니메이션 종료 후 상태 유지 */
  animation-play-state: paused; /* 초기 상태에서는 애니메이션을 멈춘 상태로 설정 */
  /* display: flex; */
  /* flex-direction:column; */
}
main > header {
  padding: 3rem 3rem 0 3rem;
}

main > .mainbox{
  width:100%;
  height:100%;
  margin-bottom:3rem;
  /* padding-bottom:5rem; */
  transition: transform 0.5s ease;
}

@keyframes moveToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.move-to-top {
  animation: moveToTop 0.5s forwards; 
}

/* main > div:nth-of-type(1){
  background: green;
}
main > div:nth-of-type(2){
  background: blue;
}
main > div:nth-of-type(3){
  background: yellow;
} */

main > .box1{
  background: green;
}
main > .box2{
  background: blue;
}
main > .box3{
  background: yellow;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10%);
    /* transform: translateX(200px); */
  }
}


.content-columns {
  padding: 3rem;
  display: flex;
  background: #e5e5e9;
}
.content-columns .col {
  min-height: 500px;
  width: 200px;
  padding: 1rem;
  background: #ebecee;
  margin-right: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.content-columns .col:nth-child(1) {
  border-top: 4px solid #50aaee;
}
.content-columns .col:nth-child(2) {
  border-top: 4px solid #d56ec7;
}
.content-columns .col:nth-child(3) {
  border-top: 4px solid #e37e55;
}
.content-columns .col:nth-child(4) {
  border-top: 4px solid #ebbd41;
}

.item {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  min-height: 50px;
  border-radius: 5px;
  margin: 0 0 0.5rem 0;
}

.nav-tabs {
  margin-right: 2rem;
  display: inline-block;
  padding: 1rem 0 1rem 0;
  font-size: 1.15rem;
  color: #8c939e;
  position: relative;
}
.nav-tabs .menu-1 {
  color: #101620;
  font-weight: 600;
}
.nav-tabs .menu-1 span {
  background: #d9dfea;
  color: #5887d1;
}
.nav-tabs .menu-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #457ace;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-tabs a span {
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.25rem 0.4rem;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background: #dfe0e2;
  color: #868d99;
}