@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0");
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR");





html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  /* 25rem일때 */
  /* --tl-Z: 12.7rem; */

  /* 25% 25% 일때 */
  /* --tl-Z: 9.4rem; */
  /* 15% 30% */
  --tl-Z: 12.5rem;
  --minus-ts-Z: 0rem;
  --neonBlueLight: #03A9F4;
  --neonBlueDark: #222;
  --Bg-neonBlueLight: #012a23;
  --Bg-neonBlueDark: #111;
  --front-cover-bs: #f9de90;
}

@property --cover-outline {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

.reset {
  all: unset;
}

#wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: #111; */
  background-color: var(--wrap-bg, #111);
  background-image: var(--wrap-image, -webkit-radial-gradient(50% 50%, ellipse cover, transparent, rgba(0, 0, 0, 0.5)));
}

#wrap.change-wrap {
  /* background-image: -webkit-radial-gradient(circle, rgba(40, 40, 40, 1) 0%, transparent 100%); */
  /* animation: wrap-background 3s linear forwards;  */
  /* animation: wrap-background 3s forwards;  */
}

@keyframes wrap-background {
  0% {
    /* background-color: none; */
    /* background-image: linear-gradient(-45deg,#282828 10%, #111 90%); */
    background-image: -webkit-radial-gradient(circle, rgba(40, 40, 40, 1) 0%, transparent 100%);
  }

  50% {
    /* background-color: none; */
    /* background-image: linear-gradient(-45deg, #111 50%, #282828 50%); */
  }

  100% {
    /* background-color: none; */
    /* background-image: linear-gradient(-45deg, #111 10%, #282828 90%); */
    background-image: -webkit-radial-gradient(circle, rgba(40, 40, 40, 1) 0%, transparent 100%);
    background-size: 350%;
  }
}


.bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: var(--bgbgcolor, rgba(255, 255, 255, 0.2)); */
  /* background-image: 
    linear-gradient(135deg, 
    #B6B2AB 0%, 
    #B3AFA7 25%, 
    #B8B5AF 25%, 
    #78736B 50%, 
    #6F6862 50%, 
    #58504B 75%, 
    #5F574E 75%, 
    #625A51 100%); */

  /* clip-path: var(--bg-clip-path, inset(50%)); */
  /* transition: clip-path var(--ts-speed, 2s) cubic-bezier(0.3, 0, 0.1, 2); */

  animation: var(--bd-am, none);
}

@keyframes bg-am{
  0%{
    background-image:
    linear-gradient(135deg,
      #B6B2AB 0%,
      #B3AFA7 25%,
      #B8B5AF 25%,
      #78736B 50%,
      #6F6862 50%,
      #58504B 75%,
      #5F574E 75%,
      #625A51 100%);
    clip-path: inset(50%);
    opacity: 0.2;
    
  }
  100%{
    /* background-color: var(--bgbgcolor, rgba(255, 255, 255, 0.7)); */
    background: linear-gradient(135deg, #bfb4ad, #9f959a) center center / cover fixed;
    /* background-image:
    linear-gradient(135deg,
      #909090 0%,
      #4B4B4B 25%,
      #353535 25%,
      #161616 50%,
      #000000 50%,
      #000000 75%,
      #1E1400 75%,
      #0C0200 100%); */
    clip-path: inset(0%);
    opacity: 1;
  }
}

/* .bg:hover::before {
  clip-path: circle(100% at 50% 50%);
  } */


.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://raw.githubusercontent.com/interaminense/repository-codepen/master/neon-codepen/bg-neon.jpg);
  background-position: center;
  /* background-position: 50% 80%; */
  background-size: cover;
  /* background-size: 100% 100%; */
  opacity: 0.3;
}

.bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.colorBox{
  position: relative;
}

.colorBox::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  animation: var(--colorbox-am, none);
}

@keyframes colorbox-am {
  0%{
    background-color: rgba(0,0,0,1);
    /* background-color: rgba(240,0,0,1); */
    clip-path: inset(50%);
  }
  5%{
    /* border: solid 0.01px yellow; */
    background-color: rgba(0,0,0,1);
    /* background-color: rgba(240,0,0,1); */
    clip-path: inset(0%);
  }
  90%{
    /* border: solid 0.01px yellow; */
    background-color: rgba( 0,0,0,1);
    clip-path: inset(0%);
  }
  100%{
    background-color: rgba(0,0,0,0);
    clip-path: inset(50%);
  }
}

nav {
  width: 10%;
  height: 100%;
  position: absolute;
  /* top: 0; */
  left: 0;
  /* transform: 50% 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}


.nav-button>span {
  cursor: pointer;
  font-size: 5rem;
  /* color: #fff; */
  color: #222;
  text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
}





#resetbutton {
  position: absolute;
  top: 0;
  right: 0;
}

#resetbutton>span {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: -1; */

  perspective: 100rem;
  perspective-origin: center;
  transform-style: preserve-3d;
  /* transform: translateY(100%); */
}


#original {
  /* width: 100%; */
  /* height: 100%; */
  /* UpdateCubeSize 여기서 정의됨 */
  --size: 30rem;
  --forward: calc(var(--size) * 0.5);
  --back: calc(var(--size) * -0.5);

  position: relative;
  width: var(--size);
  height: var(--size);

  transform-style: preserve-3d;
  transform: rotateX(calc(var(--rotateY, 0) * -1deg)) rotateY(calc(var(--rotateX, 0) * 1deg));
}

#main-side {
  display: none;
  /* background-color: #012a23; */
  /* background-color: red; */
}

.side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #012a23;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  transform: rotateX(var(--x, 0)) rotateY(var(--y, 0)) translateZ(var(--z, 0)) scaleX(var(--backX, 1));
  /* transform: rotateX(var(--x, 0)) rotateY(var(--y, 0)) translateZ(var(--z, 0)) scaleX(var(--backX, 1)) scaleY(var(--underY, 1)); */
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: rgba(0, 0, 0, 0); */
  font-family: "Monoton", cursive;
  color: #222;
  text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  transition: background-color 1s;
  /* overflow: auto; */
}


.cover-name {
  --fontSize: 4rem;
  font-size: var(--fontSize);
}







@keyframes front-cover-before{
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  30%{
    transform: scaleX(0.75) scaleY(0);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  95%{
    /* border-radius: 50%; */
  }
  100% {
    transform: scale(1.4);
    /* opacity: 1; */
  }
}



@keyframes front-c-outline {
  0% {
    --cover-outline: 0deg;
  }

  /* 20%{opacity: 1;} */
  /* 90%{opacity: 0;} */
  100% {
    --cover-outline: 360deg;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 1turn;
  }
}




@keyframes cover-name-ready {
  0% {
    color: #222;
    background-color: #FED128;

    clip-path: circle(0% at 50% calc(50%));
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
    transition: color 10s cubic-bezier(0.33, 1, 0.68, 1), clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);

  }

  100% {
    clip-path: circle(100% at 50% 50%);
  }
}



@keyframes text-shdow-neon1-hover {
  100% {
    text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 15px .1px #40340A;
    color: #FED128;
    transform: translateY(-1.5rem);
    }
}

@keyframes text-shdow-neon1-down {
  0% {
    text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 15px .1px #40340A;
    color: #FED128;
    transform: translateY(-1.5rem) scale(1);
  }
  80% {
    text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 .1px #40340A;
    color: #FED128;
    transform: translateY(0) scale(1);
  }
  100% {
    text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 .1px #40340A;
    color: #FED128;
    transform: translateY(0) scale(0.99);
  }
}

@keyframes text-shdow-neon1-up {
  0%{
    /* text-shadow: 0 0 5px #FED128, 0 0 1px #FED128, 0 0 3px #FED128, 0 0 3px #FED128, 0 0 3px #FED128, 0 0 .1px #40340A; */
    /* color: #FED128; */
    color: #FF9436;
    transform: translateY(0) scale(0.99);
    /* clip-path: circle(100% at 50% 50%); */
  }
  100%{
    /* text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 .1px #40340A; */
    /* color: #FED128; */
    color: transparent;
    /* opacity: 0; */
    transform: translateY(0) scale(1);
    /* clip-path: circle(0% at 50% calc(50%)); */
  }

  /* 0%{
    text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 .1px #40340A;
    color: rgba( 254, 209, 40, 1);
    transform: translateY(0) scale(0.99);
  }
  5%{
    text-shadow: 0 0 5px #800E0B, 0 0 15px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 20px #800E0B, 0 0 .1px #40340A;
    color: rgba( 254, 209, 40, 1);
    transform: translateY(0) scale(1);
  }
  6%{
    text-shadow: none;
    color: rgba( 254, 209, 40, 0);
  }
  
  25%{
    text-shadow: none;
    color: rgba( 254, 209, 40, 0);
  }
  
  100% {
    text-shadow: none;
    color: rgba( 254, 209, 40, 0);
  } */
}



@keyframes text-bg-before {
  0%{}
  100%{
    /* clip-path: inset(50%); */
    transform: scale(0);
    opacity: 0;
  }
}



@keyframes text-shdow-after {
  0%{
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}



@keyframes throb {

  0%,
  90%,
  100% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
}

.side--x {
  --x: 90deg;
}

.side--y {
  --y: 90deg;
}

.side--forward {
  --z: var(--forward);
}

.side--back {
  --z: var(--back);
  --backX: -1;
  /* transform: rotateY(180deg) scaleX(-1);; */
}

.side--under {
  --underY: -1;
  transform: rotateX(var(--x, 0)) translateZ(var(--z, 0)) scaleY(-1);
  ;
}

.rotate-y {
  animation: spinY 20s infinite linear;
}

@keyframes spinY {
  from {
    transform: translateZ(0rem) translateY(0rem) rotateX(-15deg) rotateY(0deg) rotateZ(0deg);
    /* transform: rotateY(0); */
  }

  to {
    transform: translateZ(0rem) translateY(0rem) rotateX(-15deg) rotateY(360deg) rotateZ(0deg);
    transition: none;
  }
}

@keyframes bg-blue-neon1-1 {

  0%,
  100% {
    background-color: #4B3000;
  }

}



@keyframes blink-neon1 {
  0% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  24% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  25% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  30% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  31% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  32% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  33% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  35% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  36% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  38% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  51% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  79% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  80% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  81% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  94% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  95% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  96% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  97% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  98% {
    color: var(--neonBlueLight);
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }

  99% {
    color: var(--neonBlueDark);
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }

  100% {
    color: var(--neonBlueLight);
    /* text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7, 10px 10px 1px #00244B; */
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7, 0px 10px 1px rgba(146, 220, 254, 0.3);
  }
}

@keyframes bg-blue-neon1 {
  0% {
    background-color: var(--Bg-neonBlueDark);
  }

  24% {
    background-color: var(--Bg-neonBlueDark);
  }

  25% {
    background-color: var(--Bg-neonBlueLight);
  }

  30% {
    background-color: var(--Bg-neonBlueLight);
  }

  31% {
    background-color: var(--Bg-neonBlueDark);
  }

  32% {
    background-color: var(--Bg-neonBlueLight);
  }

  33% {
    background-color: var(--Bg-neonBlueDark);
  }

  35% {
    background-color: var(--Bg-neonBlueDark);
  }

  36% {
    background-color: var(--Bg-neonBlueLight);
  }

  38% {
    background-color: var(--Bg-neonBlueLight);
  }

  51% {
    background-color: var(--Bg-neonBlueDark);
  }

  79% {
    background-color: var(--Bg-neonBlueDark);
  }

  80% {
    background-color: var(--Bg-neonBlueLight);
  }

  81% {
    background-color: var(--Bg-neonBlueDark);
  }

  94% {
    background-color: var(--Bg-neonBlueDark);
  }

  95% {
    background-color: var(--Bg-neonBlueLight);
  }

  96% {
    background-color: var(--Bg-neonBlueDark);
  }

  97% {
    background-color: var(--Bg-neonBlueLight);
  }

  98% {
    background-color: var(--Bg-neonBlueLight);
  }

  99% {
    background-color: var(--Bg-neonBlueDark);
  }

  100% {
    background-color: var(--Bg-neonBlueLight);
  }
}