{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'manager/css/admin_chat.css' %}?after">
  <title>TEST admin_chat</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="user-box">
        <div class="top">
          <input type="text" placeholder="Search" />
          <a href="javascript:;" class="search"></a>
        </div>
        <ul id="chat-list" class="people">
          <!-- <li class="person" data-chat="person1">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
            <span class="name">Thomas Bangalter</span>
            <span class="time">2:09 PM</span>
            <span class="preview">I was wondering...</span>
          </li>
          <li class="person" data-chat="person2">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png" alt="" />
            <span class="name">Dog Woofson</span>
            <span class="time">1:44 PM</span>
            <span class="preview">I've forgotten how it felt before</span>
          </li> -->
          
        </ul>
      </div>
      <div id="chat-message-box" class="chat-message-box">

        <div class="chat-header">
          <span>
            To: <span id="chat-name" class="name">Dog Woofson</span>
          </span>
        </div>

        <!-- <div class="chat" data-chat="person1">
          <div class="conversation">
            <span>Today, 6:48 AM</span>
          </div>
          <div class="bubble you">
            Hello,
          </div>
          <div class="bubble you">
            it's me.
          </div>
          <div class="bubble you">
            I was wondering...
          </div>
        </div> -->

        <div id="chat-content">
          <ul id="conversation">
            <!-- <li>css 문제냐</li> -->
          </ul>
        </div>
        
        
        
        <div class="write">
          <!-- <a href="javascript:;" class="write-link attach"></a> -->
          <input id="chat-message-input" class="chat-form-input" type="text" placeholder="Type your message....">
          <!-- <a href="javascript:;" class="write-link smiley"></a> -->
          <button id="chat-message-submit" class="write-link send chat-form-button" type="submit"></button>
        </div>
        <!-- <div class="write">
          <a href="javascript:;" class="write-link attach"></a>
          <input type="text" />
          <a href="javascript:;" class="write-link smiley"></a>
          <a href="javascript:;" class="write-link send"></a>
        </div> -->
      </div>
    </div>
  </div>
</body>

</html>

{% include "manager/js/admin_chat_js.html" %}